In [1]:
#import sys
#!{sys.executable} -m pip install xlrd
#!{sys.executable} -m pip install openpyxl 

import pandas as pd #tabular data
import numpy as np #numeric operations
#import xlrd as xlrd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 50)
 
from matplotlib import pyplot as plt #visualizations
import seaborn as sns
%matplotlib inline
#load data
area            = pd.read_csv("C:/skripte/python/regression/csv/area.csv",sep=';',skipinitialspace=True) 
crime           = pd.read_csv("C:/skripte/python/regression/csv/crime.csv",sep=';',skipinitialspace=True)
education       = pd.read_csv("C:/skripte/python/regression/csv/education.csv",skiprows=[0],sep=';',skipinitialspace=True)
income_xls      = pd.read_excel("C:/skripte/python/regression/csv/income.xls",skiprows=[0])
income_xlsx     = pd.read_excel("C:/skripte/python/regression/csv/income.xlsx",skiprows=[0])
region          = pd.read_csv("C:/skripte/python/regression/csv/region.txt",sep='\t',skipinitialspace=True)
life_expectancy = pd.read_csv("C:/skripte/python/regression/csv/life_expectancy.csv",sep=';')

In [2]:
area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State      50 non-null     object
 1   TotalRank  50 non-null     int64
 2   TotalSqMi  50 non-null     float64
 3   TotalKmQ   50 non-null     int64
 4   LandRank   50 non-null     int64
 5   LandSqMi   50 non-null     float64
 6   LandKmQ    50 non-null     int64
 7   LandPer    50 non-null     float64
 8   WaterRank  50 non-null     int64
 9   WaterSqMi  50 non-null     float64
 10  WaterKmQ   50 non-null     int64
 11  WaterPer   50 non-null     float64
dtypes: float64(5), int64(6), object(1)
memory usage: 4.8+ KB

In [3]:
len(area) #of data in dataset

50

In [4]:
area.head() #first 5 rows

,State,TotalRank,TotalSqMi,TotalKmQ,LandRank,LandSqMi,LandKmQ,LandPer,WaterRank,WaterSqMi,WaterKmQ,WaterPer
0,Alaska,1,665384.04,1723337,1,570640.95,1477953,85.76,1,94743.10,245384,14.24
1,Texas,2,268596.46,695662,2,261231.71,676587,97.26,8,7364.75,19075,2.74
2,California,3,163694.74,423967,3,155779.22,403466,95.16,6,7915.52,20501,4.84
3,Montana,4,147039.71,380831,4,145545.80,376962,98.98,26,1493.91,3869,1.02
4,New Mexico,5,121590.30,314917,5,121298.15,314161,99.76,49,292.15,757,0.24

In [5]:
#first 5 rows look fine
print(area) #print full set

             State  TotalRank  TotalSqMi  \
0           Alaska          1  665384.04
1            Texas          2  268596.46
2       California          3  163694.74
3          Montana          4  147039.71
4       New Mexico          5  121590.30
5          Arizona          6  113990.30
6           Nevada          7  110571.82
7         Colorado          8  104093.67
8           Oregon          9   98378.54
9          Wyoming         10   97813.01
10        Michigan         11   96713.51
11       Minnesota         12   86935.83
12            Utah         13   84896.88
13           Idaho         14   83568.95
14          Kansas         15   82278.36
15        Nebraska         16   77347.81
16    South Dakota         17   77115.68
17      Washington         18   71297.95
18    North Dakota         19   70698.32
19        Oklahoma         20   69898.87
20        Missouri         21   69706.99
21         Florida         22   65757.70
22       Wisconsin         23   65496.38
23         Georgia         24   59425.15
24        Illinois         25   57913.55
25            Iowa         26   56272.81
26        New York         27   54554.98
27  North Carolina         28   53819.16
28        Arkansas         29   53178.55
29         Alabama         30   52420.07
30       Louisiana         31   52378.13
31     Mississippi         32   48431.78
32    Pennsylvania         33   46054.34
33            Ohio         34   44825.58
34        Virginia         35   42774.93
35       Tennessee         36   42144.25
36        Kentucky         37   40407.80
37         Indiana         38   36419.55
38           Maine         39   35379.74
39  South Carolina         40   32020.49
40   West Virginia         41   24230.04
41        Maryland         42   12405.93
42          Hawaii         43   10931.72
43   Massachusetts         44   10554.39
44         Vermont         45    9616.36
45   New Hampshire         46    9349.16
46      New Jersey         47    8722.58
47     Connecticut         48    5543.41
48        Delaware         49    2488.72
49    Rhode Island         50    1544.89

    TotalKmQ  LandRank   LandSqMi  LandKmQ  \
0    1723337         1  570640.95  1477953
1     695662         2  261231.71   676587
2     423967         3  155779.22   403466
3     380831         4  145545.80   376962
4     314917         5  121298.15   314161
5     295234         6  113594.08   294207
6     286380         7  109781.18   284332
7     269601         8  103641.89   268431
8     254799        10   95988.01   248608
9     253335         9   97093.14   251470
10    250487        22   56538.90   146435
11    225163        14   79626.74   206232
12    219882        12   82169.62   212818
13    216443        11   82643.12   214045
14    213100        13   81758.72   211754
15    200330        15   76824.17   198974
16    199729        16   75811.00   196350
17    184661        20   66455.52   172119
18    183108        17   69000.80   178711
19    181037        19   68594.92   177660
20    180540        18   68741.52   178040
21    170312        26   53624.76   138887
22    169635        25   54157.80   140268
23    153910        21   57513.49   148959
24    149995        24   55518.93   143793
25    145746        23   55857.13   144669
26    141297        30   47126.40   122057
27    139391        29   48617.91   125920
28    137732        27   52035.48   134771
29    135767        28   50645.33   131171
30    135659        33   43203.90   111898
31    125438        31   46923.27   121531
32    119280        32   44742.70   115883
33    116098        35   40860.69   105829
34    110787        36   39490.09   102279
35    109153        34   41234.90   106798
36    104656        37   39486.34   102269
37     94326        38   35826.11    92789
38     91633        39   30842.92    79883
39     82933        40   30060.70    77857
40     62756        41   24038.21    62259
41     32131        42    9707.24    25142
42     28313        47    6422.63    16635
43     27336        45    7800.06    20202
44     24906        43    9216.66    23871
45     24214        44    8952.65    23187
46     22591        46    7354.22    19047
47     14357        48    4842.36    12542
48      6446        49    1948.54     5047
49      4001        50    1033.81     2678

    LandPer  WaterRank  WaterSqMi  WaterKmQ  \
0     85.76          1   94743.10    245384
1     97.26          8    7364.75     19075
2     95.16          6    7915.52     20501
3     98.98         26    1493.91      3869
4     99.76         49     292.15       757
5     99.65         48     396.22      1026
6     99.28         36     790.65      2048
7     99.57         44     451.78      1170
8     97.57         20    2390.53      6191
9     99.26         37     719.87      1864
10    58.46          2   40174.61    104052
11    91.59          9    7309.09     18930
12    96.79         17    2727.26      7064
13    98.89         33     925.83      2398
14    99.37         42     519.64      1346
15    99.32         41     523.64      1356
16    98.31         29    1304.68      3379
17    93.21         11    4842.43     12542
18    97.60         24    1697.52      4397
19    98.13         30    1303.95      3377
20    98.61         32     965.47      2501
21    81.55          3   12132.94     31424
22    82.69          4   11338.57     29367
23    96.78         22    1911.66      4951
24    95.87         19    2394.62      6202
25    99.26         45     415.68      1077
26    86.38          7    7428.58     19240
27    90.34         10    5201.25     13471
28    97.85         31    1143.07      2961
29    96.61         23    1774.74      4597
30    82.48          5    9174.23     23761
31    96.89         25    1508.51      3907
32    97.15         28    1311.64      3397
33    91.15         14    3964.89     10269
34    92.32         15    3284.84      8508
35    97.84         35     909.36      2355
36    97.72         34     921.46      2387
37    98.37         39     593.44      1537
38    87.18         12    4536.82     11750
39    93.88         21    1959.79      5076
40    99.21         50     191.83       497
41    78.25         18    2698.69      6990
42    58.75         13    4509.09     11678
43    73.90         16    2754.33      7134
44    95.84         46     399.71      1035
45    95.76         47     396.51      1027
46    84.31         27    1368.36      3544
47    87.35         38     701.06      1816
48    78.29         40     540.18      1399
49    66.92         43     511.07      1324

    WaterPer
0      14.24
1       2.74
2       4.84
3       1.02
4       0.24
5       0.35
6       0.72
7       0.43
8       2.43
9       0.74
10     41.54
11      8.41
12      3.21
13      1.11
14      0.63
15      0.68
16      1.69
17      6.79
18      2.40
19      1.87
20      1.39
21     18.45
22     17.31
23      3.22
24      4.13
25      0.74
26     13.62
27      9.66
28      2.15
29      3.39
30     17.52
31      3.11
32      2.85
33      8.85
34      7.68
35      2.16
36      2.28
37      1.63
38     12.82
39      6.12
40      0.79
41     21.75
42     41.25
43     26.10
44      4.16
45      4.24
46     15.69
47     12.65
48     21.71
49     33.08

In [6]:
#full set looks fine as well. 50 data points
area.set_index('State')   #setting "State" as index

,TotalRank,TotalSqMi,TotalKmQ,LandRank,LandSqMi,LandKmQ,LandPer,WaterRank,WaterSqMi,WaterKmQ,WaterPer
State,,,,,,,,,,,
Alaska,1,665384.04,1723337,1,570640.95,1477953,85.76,1,94743.10,245384,14.24
Texas,2,268596.46,695662,2,261231.71,676587,97.26,8,7364.75,19075,2.74
California,3,163694.74,423967,3,155779.22,403466,95.16,6,7915.52,20501,4.84
Montana,4,147039.71,380831,4,145545.80,376962,98.98,26,1493.91,3869,1.02
New Mexico,5,121590.30,314917,5,121298.15,314161,99.76,49,292.15,757,0.24
Arizona,6,113990.30,295234,6,113594.08,294207,99.65,48,396.22,1026,0.35
Nevada,7,110571.82,286380,7,109781.18,284332,99.28,36,790.65,2048,0.72
Colorado,8,104093.67,269601,8,103641.89,268431,99.57,44,451.78,1170,0.43
Oregon,9,98378.54,254799,10,95988.01,248608,97.57,20,2390.53,6191,2.43
Wyoming,10,97813.01,253335,9,97093.14,251470,99.26,37,719.87,1864,0.74
Michigan,11,96713.51,250487,22,56538.90,146435,58.46,2,40174.61,104052,41.54
Minnesota,12,86935.83,225163,14,79626.74,206232,91.59,9,7309.09,18930,8.41
Utah,13,84896.88,219882,12,82169.62,212818,96.79,17,2727.26,7064,3.21
Idaho,14,83568.95,216443,11,82643.12,214045,98.89,33,925.83,2398,1.11
Kansas,15,82278.36,213100,13,81758.72,211754,99.37,42,519.64,1346,0.63
Nebraska,16,77347.81,200330,15,76824.17,198974,99.32,41,523.64,1356,0.68
South Dakota,17,77115.68,199729,16,75811.00,196350,98.31,29,1304.68,3379,1.69
Washington,18,71297.95,184661,20,66455.52,172119,93.21,11,4842.43,12542,6.79
North Dakota,19,70698.32,183108,17,69000.80,178711,97.60,24,1697.52,4397,2.40
Oklahoma,20,69898.87,181037,19,68594.92,177660,98.13,30,1303.95,3377,1.87
Missouri,21,69706.99,180540,18,68741.52,178040,98.61,32,965.47,2501,1.39
Florida,22,65757.70,170312,26,53624.76,138887,81.55,3,12132.94,31424,18.45
Wisconsin,23,65496.38,169635,25,54157.80,140268,82.69,4,11338.57,29367,17.31
Georgia,24,59425.15,153910,21,57513.49,148959,96.78,22,1911.66,4951,3.22
Illinois,25,57913.55,149995,24,55518.93,143793,95.87,19,2394.62,6202,4.13
Iowa,26,56272.81,145746,23,55857.13,144669,99.26,45,415.68,1077,0.74
New York,27,54554.98,141297,30,47126.40,122057,86.38,7,7428.58,19240,13.62
North Carolina,28,53819.16,139391,29,48617.91,125920,90.34,10,5201.25,13471,9.66
Arkansas,29,53178.55,137732,27,52035.48,134771,97.85,31,1143.07,2961,2.15
Alabama,30,52420.07,135767,28,50645.33,131171,96.61,23,1774.74,4597,3.39
Louisiana,31,52378.13,135659,33,43203.90,111898,82.48,5,9174.23,23761,17.52
Mississippi,32,48431.78,125438,31,46923.27,121531,96.89,25,1508.51,3907,3.11
Pennsylvania,33,46054.34,119280,32,44742.70,115883,97.15,28,1311.64,3397,2.85
Ohio,34,44825.58,116098,35,40860.69,105829,91.15,14,3964.89,10269,8.85
Virginia,35,42774.93,110787,36,39490.09,102279,92.32,15,3284.84,8508,7.68
Tennessee,36,42144.25,109153,34,41234.90,106798,97.84,35,909.36,2355,2.16
Kentucky,37,40407.80,104656,37,39486.34,102269,97.72,34,921.46,2387,2.28
Indiana,38,36419.55,94326,38,35826.11,92789,98.37,39,593.44,1537,1.63
Maine,39,35379.74,91633,39,30842.92,79883,87.18,12,4536.82,11750,12.82
South Carolina,40,32020.49,82933,40,30060.70,77857,93.88,21,1959.79,5076,6.12
West Virginia,41,24230.04,62756,41,24038.21,62259,99.21,50,191.83,497,0.79
Maryland,42,12405.93,32131,42,9707.24,25142,78.25,18,2698.69,6990,21.75
Hawaii,43,10931.72,28313,47,6422.63,16635,58.75,13,4509.09,11678,41.25
Massachusetts,44,10554.39,27336,45,7800.06,20202,73.90,16,2754.33,7134,26.10
Vermont,45,9616.36,24906,43,9216.66,23871,95.84,46,399.71,1035,4.16
New Hampshire,46,9349.16,24214,44,8952.65,23187,95.76,47,396.51,1027,4.24
New Jersey,47,8722.58,22591,46,7354.22,19047,84.31,27,1368.36,3544,15.69
Connecticut,48,5543.41,14357,48,4842.36,12542,87.35,38,701.06,1816,12.65
Delaware,49,2488.72,6446,49,1948.54,5047,78.29,40,540.18,1399,21.71
Rhode Island,50,1544.89,4001,50,1033.81,2678,66.92,43,511.07,1324,33.08

In [7]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 9 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   State                                                             59 non-null     object
 1   Population
(total inhabitants)
(2015) [2]                        51 non-null     object
 2   Murders and
Nonnegligent
Manslaughter
(total deaths)
(2015) [1]  51 non-null     object
 3   Murders
(total deaths)
(2015) [3]                                51 non-null     object
 4   Gun Murders
(total deaths)
(2015) [3]                            51 non-null     object
 5   Gun
Ownership
(%)
(2013) [4]                                     51 non-null     float64
 6   Murder and
Nonnegligent
Manslaughter
Rate
(per 100,000)
(2015)   51 non-null     float64
 7   Murder Rate
(per 100,000)
(2015)                                 51 non-null     object
 8   Gun
Murder Rate
(per 100,000)
(2015)                             51 non-null     object
dtypes: float64(2), object(7)
memory usage: 4.5+ KB

In [8]:


len(crime) #62 data points should be 50

62

In [9]:
crime.head() #first 5 rows

,State,Population\n(total inhabitants) \n(2015) [2],Murders and\nNonnegligent\nManslaughter\n(total deaths) \n(2015) [1],Murders\n(total deaths) \n(2015) [3],Gun Murders\n(total deaths) \n(2015) [3],Gun\nOwnership\n(%) \n(2013) [4],"Murder and\nNonnegligent\nManslaughter\nRate\n(per 100,000) \n(2015)","Murder Rate\n(per 100,000) \n(2015)","Gun\nMurder Rate\n(per 100,000) \n(2015)"
0,Alabama,"4,853,875",348,—[a],—[a],48.9,7.2,— [a],— [a]
1,Alaska,"737,709",59,57,39,61.7,8.0,7.7,5.3
2,Arizona,"6,817,565",306,278,171,32.3,4.5,4.1,2.5
3,Arkansas,"2,977,853",181,164,110,57.9,6.1,5.5,3.7
4,California,"38,993,940","1,861","1,861","1,275",20.1,4.8,4.8,3.3

In [10]:
#renaming column names
crime =crime.set_axis(['State','PopTot2012', 'MurderNMTot2015', 'MurderTot2015', 'GunMurderTot2015', 'GunOwnPer2013', 'MurderNMRate_per_100k_2015', 'MurderRate_per_100k_2015', 'GunMurderRate_per_100k_2015'], axis=1) #change the column names

In [11]:
#the dataset contain non numeric values like "—[a]" and must be cleaned
print(crime) #print the full set

                   State     PopTot2012  \
0                Alabama      4,853,875
1                 Alaska        737,709
2                Arizona      6,817,565
3               Arkansas      2,977,853
4             California     38,993,940
5               Colorado      5,448,819
6            Connecticut      3,584,730
7               Delaware        944,076
8   District of Columbia        670,377
9                Florida     20,244,914
10               Georgia     10,199,398
11                Hawaii      1,425,157
12                 Idaho      1,652,828
13              Illinois  12,859,995[5]
14               Indiana      6,612,768
15                  Iowa      3,121,997
16                Kansas      2,906,721
17              Kentucky      4,424,611
18             Louisiana      4,668,960
19                 Maine      1,329,453
20              Maryland      5,994,983
21         Massachusetts      6,784,240
22              Michigan      9,917,715
23             Minnesota      5,482,435
24           Mississippi      2,989,390
25              Missouri      6,076,204
26               Montana      1,032,073
27              Nebraska      1,893,765
28                Nevada      2,883,758
29         New Hampshire      1,330,111
30            New Jersey      8,935,421
31            New Mexico      2,080,328
32              New York     19,747,183
33        North Carolina     10,035,186
34          North Dakota        756,835
35                  Ohio     11,605,090
36              Oklahoma      3,907,414
37                Oregon      4,024,634
38          Pennsylvania     12,791,904
39          Rhode Island      1,055,607
40        South Carolina      4,894,834
41          South Dakota        857,919
42             Tennessee      6,595,056
43                 Texas     27,429,639
44                  Utah      2,990,632
45               Vermont        626,088
46              Virginia      8,367,587
47            Washington      7,160,290
48         West Virginia      1,841,053
49             Wisconsin      5,767,891
50               Wyoming        586,107
51                    \t            NaN
52                    ^             NaN
53          Jump up to:             NaN
54                                  NaN
55                     a            NaN
56                   NaN            NaN
57                     b            NaN
58                   NaN            NaN
59                     c            NaN
60                   NaN            NaN
61                     d            NaN

   MurderNMTot2015 MurderTot2015  \
0              348          —[a]
1               59            57
2              306           278
3              181           164
4            1,861         1,861
5              176           176
6              117           107
7               63            63
8              162           162
9            1,041         — [b]
10             615           565
11              19            19
12              32            30
13             744           497
14             373           272
15              72            72
16             128           125
17             209           209
18             481           474
19              23            23
20             516           372
21             128           126
22             571           571
23             133           133
24             259           159
25             502           499
26              36            36
27              62            61
28             178           177
29              14            14
30             363           353
31             117            94
32             609           611
33             517           506
34              21            17
35             500           480
36             234           233
37              99            71
38             658           651
39              29            27
40             399           394
41              32            27
42             406           402
43           1,316         1,276
44              54            54
45              10            10
46             383           383
47             211           209
48              70            57
49             240           238
50              16            16
51             NaN           NaN
52             NaN           NaN
53             NaN           NaN
54             NaN           NaN
55             NaN           NaN
56             NaN           NaN
57             NaN           NaN
58             NaN           NaN
59             NaN           NaN
60             NaN           NaN
61             NaN           NaN

   GunMurderTot2015  GunOwnPer2013  \
0              —[a]           48.9
1                39           61.7
2               171           32.3
3               110           57.9
4             1,275           20.1
5               115           34.3
6                73           16.6
7                52            5.2
8               121           25.9
9             — [b]           32.5
10              464           31.6
11                4           45.1
12               24           56.9
13              440           26.2
14              209           33.8
15               49           33.8
16               91           32.2
17              141           42.4
18              379           44.5
19               16           22.6
20              279           20.7
21               81           22.6
22              389           28.8
23               79           36.7
24              126           42.8
25              418           27.1
26               18           52.3
27               43           19.8
28              113           37.5
29                8           14.4
30              255           11.3
31               56           49.9
32              383           10.3
33              353           28.7
34                9           47.9
35              316           19.6
36              149           31.2
37               34           26.6
38              497           27.1
39               10            5.8
40              312           44.4
41               12           35.0
42              297           39.4
43              906           35.7
44               34           31.9
45                8           28.8
46              275           29.3
47              141           27.7
48               30           54.2
49              170           34.7
50               10           53.8
51              NaN            NaN
52              NaN            NaN
53              NaN            NaN
54              NaN            NaN
55              NaN            NaN
56              NaN            NaN
57              NaN            NaN
58              NaN            NaN
59              NaN            NaN
60              NaN            NaN
61              NaN            NaN

    MurderNMRate_per_100k_2015  \
0                         7.20
1                         8.00
2                         4.50
3                         6.10
4                         4.80
5                         3.20
6                         3.30
7                         6.70
8                        24.20
9                         5.10
10                        6.00
11                        1.30
12                        1.90
13                        5.80
14                        5.60
15                        2.30
16                        4.40
17                        4.70
18                       10.30
19                        1.70
20                        8.60
21                        1.90
22                        5.80
23                        2.40
24                        8.70
25                        8.30
26                        3.50
27                        3.30
28                        6.20
29                        1.10
30                        4.10
31                        5.60
32                        3.10
33                        5.20
34                        2.80
35                        4.30
36                        6.00
37                        2.50
38                        5.10
39                        2.70
40                        8.20
41                        3.70
42                        6.20
43                        4.80
44                        1.80
45                        1.60
46                        4.60
47                        2.90
48                        3.80
49                        4.20
50                        2.56
51                         NaN
52                         NaN
53                         NaN
54                         NaN
55                         NaN
56                         NaN
57                         NaN
58                         NaN
59                         NaN
60                         NaN
61                         NaN

   MurderRate_per_100k_2015  \
0                     — [a]
1                       7.7
2                       4.1
3                       5.5
4                       4.8
5                       3.2
6                       3.0
7                       6.7
8                      24.2
9                     — [b]
10                      5.5
11                      1.3
12                      1.8
13                      3.9
14                      4.1
15                      2.3
16                      4.3
17                      4.7
18                     10.2
19                      1.7
20                      6.2
21                      1.9
22                      5.8
23                      2.4
24                      5.3
25                      8.2
26                      3.5
27                      3.2
28                      6.1
29                      1.1
30                      4.0
31                      4.5
32                      3.1
33                      5.0
34                      2.2
35                      4.1
36                      6.0
37                      1.8
38                      5.1
39                      2.6
40                      8.0
41                      3.1
42                      6.1
43                      4.7
44                      1.8
45                      1.6
46                      4.6
47                      2.9
48                      3.1
49                      4.1
50                      2.7
51                      NaN
52                      NaN
53                      NaN
54                      NaN
55                      NaN
56                      NaN
57                      NaN
58                      NaN
59                      NaN
60                      NaN
61                      NaN

   GunMurderRate_per_100k_2015
0                        — [a]
1                          5.3
2                          2.5
3                          3.7
4                          3.3
5                          2.1
6                          2.0
7                          5.5
8                         18.0
9                        — [b]
10                         4.5
11                         0.3
12                         1.5
13                         3.4
14                         3.2
15                         1.6
16                         3.1
17                         3.2
18                         8.1
19                         1.2
20                         4.7
21                         1.2
22                         3.9
23                         1.4
24                         4.2
25                         6.9
26                         1.7
27                         2.3
28                         3.9
29                         0.6
30                         2.9
31                         2.7
32                         1.9
33                         3.5
34                         1.2
35                         2.7
36                         3.8
37                         0.8
38                         3.9
39                         0.9
40                         6.4
41                         1.4
42                         4.5
43                         3.3
44                         1.1
45                         1.3
46                         3.3
47                         2.0
48                         1.6
49                         2.9
50                         1.7
51                         NaN
52                         NaN
53                         NaN
54                         NaN
55                         NaN
56                         NaN
57                         NaN
58                         NaN
59                         NaN
60                         NaN
61                         NaN

In [12]:
#line 51 to 61 do not contain useful data an can be deleted
#the dataset contain non numeric values like "—[a]" "—[b]" and must be changed to NaN  

crime = crime.replace(to_replace ='.\s\[a\]', value = 'NaN', regex = True)   #— [a] with a blank will be changed to NaN
crime = crime.replace(to_replace ='.\s\[b\]', value = 'NaN', regex = True)   #— [a] without a blank will be changed to NaN
crime = crime.replace(to_replace ='.\[a\]', value = 'NaN', regex = True)     #— [b]  with a blank will be changed to NaN
crime = crime.replace(to_replace ='.\[b\]', value = 'NaN', regex = True)     #— [b]  without a blank will be changed to NaN
crime = crime.replace(to_replace =',', value = '', regex = True)

print(crime) #after replacement of values like "—[a]" "—[b]" with and without space we need to check the dataset

                   State   PopTot2012  \
0                Alabama      4853875
1                 Alaska       737709
2                Arizona      6817565
3               Arkansas      2977853
4             California     38993940
5               Colorado      5448819
6            Connecticut      3584730
7               Delaware       944076
8   District of Columbia       670377
9                Florida     20244914
10               Georgia     10199398
11                Hawaii      1425157
12                 Idaho      1652828
13              Illinois  12859995[5]
14               Indiana      6612768
15                  Iowa      3121997
16                Kansas      2906721
17              Kentucky      4424611
18             Louisiana      4668960
19                 Maine      1329453
20              Maryland      5994983
21         Massachusetts      6784240
22              Michigan      9917715
23             Minnesota      5482435
24           Mississippi      2989390
25              Missouri      6076204
26               Montana      1032073
27              Nebraska      1893765
28                Nevada      2883758
29         New Hampshire      1330111
30            New Jersey      8935421
31            New Mexico      2080328
32              New York     19747183
33        North Carolina     10035186
34          North Dakota       756835
35                  Ohio     11605090
36              Oklahoma      3907414
37                Oregon      4024634
38          Pennsylvania     12791904
39          Rhode Island      1055607
40        South Carolina      4894834
41          South Dakota       857919
42             Tennessee      6595056
43                 Texas     27429639
44                  Utah      2990632
45               Vermont       626088
46              Virginia      8367587
47            Washington      7160290
48         West Virginia      1841053
49             Wisconsin      5767891
50               Wyoming       586107
51                    \t          NaN
52                    ^           NaN
53          Jump up to:           NaN
54                                NaN
55                     a          NaN
56                   NaN          NaN
57                     b          NaN
58                   NaN          NaN
59                     c          NaN
60                   NaN          NaN
61                     d          NaN

   MurderNMTot2015 MurderTot2015  \
0              348           NaN
1               59            57
2              306           278
3              181           164
4             1861          1861
5              176           176
6              117           107
7               63            63
8              162           162
9             1041           NaN
10             615           565
11              19            19
12              32            30
13             744           497
14             373           272
15              72            72
16             128           125
17             209           209
18             481           474
19              23            23
20             516           372
21             128           126
22             571           571
23             133           133
24             259           159
25             502           499
26              36            36
27              62            61
28             178           177
29              14            14
30             363           353
31             117            94
32             609           611
33             517           506
34              21            17
35             500           480
36             234           233
37              99            71
38             658           651
39              29            27
40             399           394
41              32            27
42             406           402
43            1316          1276
44              54            54
45              10            10
46             383           383
47             211           209
48              70            57
49             240           238
50              16            16
51             NaN           NaN
52             NaN           NaN
53             NaN           NaN
54             NaN           NaN
55             NaN           NaN
56             NaN           NaN
57             NaN           NaN
58             NaN           NaN
59             NaN           NaN
60             NaN           NaN
61             NaN           NaN

   GunMurderTot2015  GunOwnPer2013  \
0               NaN           48.9
1                39           61.7
2               171           32.3
3               110           57.9
4              1275           20.1
5               115           34.3
6                73           16.6
7                52            5.2
8               121           25.9
9               NaN           32.5
10              464           31.6
11                4           45.1
12               24           56.9
13              440           26.2
14              209           33.8
15               49           33.8
16               91           32.2
17              141           42.4
18              379           44.5
19               16           22.6
20              279           20.7
21               81           22.6
22              389           28.8
23               79           36.7
24              126           42.8
25              418           27.1
26               18           52.3
27               43           19.8
28              113           37.5
29                8           14.4
30              255           11.3
31               56           49.9
32              383           10.3
33              353           28.7
34                9           47.9
35              316           19.6
36              149           31.2
37               34           26.6
38              497           27.1
39               10            5.8
40              312           44.4
41               12           35.0
42              297           39.4
43              906           35.7
44               34           31.9
45                8           28.8
46              275           29.3
47              141           27.7
48               30           54.2
49              170           34.7
50               10           53.8
51              NaN            NaN
52              NaN            NaN
53              NaN            NaN
54              NaN            NaN
55              NaN            NaN
56              NaN            NaN
57              NaN            NaN
58              NaN            NaN
59              NaN            NaN
60              NaN            NaN
61              NaN            NaN

    MurderNMRate_per_100k_2015  \
0                         7.20
1                         8.00
2                         4.50
3                         6.10
4                         4.80
5                         3.20
6                         3.30
7                         6.70
8                        24.20
9                         5.10
10                        6.00
11                        1.30
12                        1.90
13                        5.80
14                        5.60
15                        2.30
16                        4.40
17                        4.70
18                       10.30
19                        1.70
20                        8.60
21                        1.90
22                        5.80
23                        2.40
24                        8.70
25                        8.30
26                        3.50
27                        3.30
28                        6.20
29                        1.10
30                        4.10
31                        5.60
32                        3.10
33                        5.20
34                        2.80
35                        4.30
36                        6.00
37                        2.50
38                        5.10
39                        2.70
40                        8.20
41                        3.70
42                        6.20
43                        4.80
44                        1.80
45                        1.60
46                        4.60
47                        2.90
48                        3.80
49                        4.20
50                        2.56
51                         NaN
52                         NaN
53                         NaN
54                         NaN
55                         NaN
56                         NaN
57                         NaN
58                         NaN
59                         NaN
60                         NaN
61                         NaN

   MurderRate_per_100k_2015  \
0                       NaN
1                       7.7
2                       4.1
3                       5.5
4                       4.8
5                       3.2
6                       3.0
7                       6.7
8                      24.2
9                       NaN
10                      5.5
11                      1.3
12                      1.8
13                      3.9
14                      4.1
15                      2.3
16                      4.3
17                      4.7
18                     10.2
19                      1.7
20                      6.2
21                      1.9
22                      5.8
23                      2.4
24                      5.3
25                      8.2
26                      3.5
27                      3.2
28                      6.1
29                      1.1
30                      4.0
31                      4.5
32                      3.1
33                      5.0
34                      2.2
35                      4.1
36                      6.0
37                      1.8
38                      5.1
39                      2.6
40                      8.0
41                      3.1
42                      6.1
43                      4.7
44                      1.8
45                      1.6
46                      4.6
47                      2.9
48                      3.1
49                      4.1
50                      2.7
51                      NaN
52                      NaN
53                      NaN
54                      NaN
55                      NaN
56                      NaN
57                      NaN
58                      NaN
59                      NaN
60                      NaN
61                      NaN

   GunMurderRate_per_100k_2015
0                          NaN
1                          5.3
2                          2.5
3                          3.7
4                          3.3
5                          2.1
6                          2.0
7                          5.5
8                         18.0
9                          NaN
10                         4.5
11                         0.3
12                         1.5
13                         3.4
14                         3.2
15                         1.6
16                         3.1
17                         3.2
18                         8.1
19                         1.2
20                         4.7
21                         1.2
22                         3.9
23                         1.4
24                         4.2
25                         6.9
26                         1.7
27                         2.3
28                         3.9
29                         0.6
30                         2.9
31                         2.7
32                         1.9
33                         3.5
34                         1.2
35                         2.7
36                         3.8
37                         0.8
38                         3.9
39                         0.9
40                         6.4
41                         1.4
42                         4.5
43                         3.3
44                         1.1
45                         1.3
46                         3.3
47                         2.0
48                         1.6
49                         2.9
50                         1.7
51                         NaN
52                         NaN
53                         NaN
54                         NaN
55                         NaN
56                         NaN
57                         NaN
58                         NaN
59                         NaN
60                         NaN
61                         NaN

In [13]:
#NaN values look fine   
crime.isna() # verify NaN values are detected as such

,State,PopTot2012,MurderNMTot2015,MurderTot2015,GunMurderTot2015,GunOwnPer2013,MurderNMRate_per_100k_2015,MurderRate_per_100k_2015,GunMurderRate_per_100k_2015
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False
51,False,True,True,True,True,True,True,True,True
52,False,True,True,True,True,True,True,True,True
53,False,True,True,True,True,True,True,True,True
54,False,True,True,True,True,True,True,True,True
55,False,True,True,True,True,True,True,True,True
56,True,True,True,True,True,True,True,True,True
57,False,True,True,True,True,True,True,True,True
58,True,True,True,True,True,True,True,True,True
59,False,True,True,True,True,True,True,True,True
60,True,True,True,True,True,True,True,True,True
61,False,True,True,True,True,True,True,True,True

In [14]:
#NaN values looks fine
crime = crime.dropna(thresh=2) #Keep only the rows with at least 2 non-NA values. This should delete lines 51-61 as well

In [15]:
print(crime) #print the full set again
#some data contain ","

#crime['PopTot2012']= crime['PopTot2012'].replace([','],'')
#crime = crime.apply(lambda x: x.str.replace(',',''))
#crime.replace(to_replace =",",value ="")
#crime.PopTot2012 = crime.PopTot2012.str.replace(',','')
#crime.apply(lambda x: x.str.replace(',',''))


#crime.MurderTot2015 = crime.MurderTot2015.str.replace(',','')
#crime.GunMurderTot2015 = crime.GunMurderTot2015.str.replace(',','')




print(crime)

                   State   PopTot2012  \
0                Alabama      4853875
1                 Alaska       737709
2                Arizona      6817565
3               Arkansas      2977853
4             California     38993940
5               Colorado      5448819
6            Connecticut      3584730
7               Delaware       944076
8   District of Columbia       670377
9                Florida     20244914
10               Georgia     10199398
11                Hawaii      1425157
12                 Idaho      1652828
13              Illinois  12859995[5]
14               Indiana      6612768
15                  Iowa      3121997
16                Kansas      2906721
17              Kentucky      4424611
18             Louisiana      4668960
19                 Maine      1329453
20              Maryland      5994983
21         Massachusetts      6784240
22              Michigan      9917715
23             Minnesota      5482435
24           Mississippi      2989390
25              Missouri      6076204
26               Montana      1032073
27              Nebraska      1893765
28                Nevada      2883758
29         New Hampshire      1330111
30            New Jersey      8935421
31            New Mexico      2080328
32              New York     19747183
33        North Carolina     10035186
34          North Dakota       756835
35                  Ohio     11605090
36              Oklahoma      3907414
37                Oregon      4024634
38          Pennsylvania     12791904
39          Rhode Island      1055607
40        South Carolina      4894834
41          South Dakota       857919
42             Tennessee      6595056
43                 Texas     27429639
44                  Utah      2990632
45               Vermont       626088
46              Virginia      8367587
47            Washington      7160290
48         West Virginia      1841053
49             Wisconsin      5767891
50               Wyoming       586107

   MurderNMTot2015 MurderTot2015  \
0              348           NaN
1               59            57
2              306           278
3              181           164
4             1861          1861
5              176           176
6              117           107
7               63            63
8              162           162
9             1041           NaN
10             615           565
11              19            19
12              32            30
13             744           497
14             373           272
15              72            72
16             128           125
17             209           209
18             481           474
19              23            23
20             516           372
21             128           126
22             571           571
23             133           133
24             259           159
25             502           499
26              36            36
27              62            61
28             178           177
29              14            14
30             363           353
31             117            94
32             609           611
33             517           506
34              21            17
35             500           480
36             234           233
37              99            71
38             658           651
39              29            27
40             399           394
41              32            27
42             406           402
43            1316          1276
44              54            54
45              10            10
46             383           383
47             211           209
48              70            57
49             240           238
50              16            16

   GunMurderTot2015  GunOwnPer2013  \
0               NaN           48.9
1                39           61.7
2               171           32.3
3               110           57.9
4              1275           20.1
5               115           34.3
6                73           16.6
7                52            5.2
8               121           25.9
9               NaN           32.5
10              464           31.6
11                4           45.1
12               24           56.9
13              440           26.2
14              209           33.8
15               49           33.8
16               91           32.2
17              141           42.4
18              379           44.5
19               16           22.6
20              279           20.7
21               81           22.6
22              389           28.8
23               79           36.7
24              126           42.8
25              418           27.1
26               18           52.3
27               43           19.8
28              113           37.5
29                8           14.4
30              255           11.3
31               56           49.9
32              383           10.3
33              353           28.7
34                9           47.9
35              316           19.6
36              149           31.2
37               34           26.6
38              497           27.1
39               10            5.8
40              312           44.4
41               12           35.0
42              297           39.4
43              906           35.7
44               34           31.9
45                8           28.8
46              275           29.3
47              141           27.7
48               30           54.2
49              170           34.7
50               10           53.8

    MurderNMRate_per_100k_2015  \
0                         7.20
1                         8.00
2                         4.50
3                         6.10
4                         4.80
5                         3.20
6                         3.30
7                         6.70
8                        24.20
9                         5.10
10                        6.00
11                        1.30
12                        1.90
13                        5.80
14                        5.60
15                        2.30
16                        4.40
17                        4.70
18                       10.30
19                        1.70
20                        8.60
21                        1.90
22                        5.80
23                        2.40
24                        8.70
25                        8.30
26                        3.50
27                        3.30
28                        6.20
29                        1.10
30                        4.10
31                        5.60
32                        3.10
33                        5.20
34                        2.80
35                        4.30
36                        6.00
37                        2.50
38                        5.10
39                        2.70
40                        8.20
41                        3.70
42                        6.20
43                        4.80
44                        1.80
45                        1.60
46                        4.60
47                        2.90
48                        3.80
49                        4.20
50                        2.56

   MurderRate_per_100k_2015  \
0                       NaN
1                       7.7
2                       4.1
3                       5.5
4                       4.8
5                       3.2
6                       3.0
7                       6.7
8                      24.2
9                       NaN
10                      5.5
11                      1.3
12                      1.8
13                      3.9
14                      4.1
15                      2.3
16                      4.3
17                      4.7
18                     10.2
19                      1.7
20                      6.2
21                      1.9
22                      5.8
23                      2.4
24                      5.3
25                      8.2
26                      3.5
27                      3.2
28                      6.1
29                      1.1
30                      4.0
31                      4.5
32                      3.1
33                      5.0
34                      2.2
35                      4.1
36                      6.0
37                      1.8
38                      5.1
39                      2.6
40                      8.0
41                      3.1
42                      6.1
43                      4.7
44                      1.8
45                      1.6
46                      4.6
47                      2.9
48                      3.1
49                      4.1
50                      2.7

   GunMurderRate_per_100k_2015
0                          NaN
1                          5.3
2                          2.5
3                          3.7
4                          3.3
5                          2.1
6                          2.0
7                          5.5
8                         18.0
9                          NaN
10                         4.5
11                         0.3
12                         1.5
13                         3.4
14                         3.2
15                         1.6
16                         3.1
17                         3.2
18                         8.1
19                         1.2
20                         4.7
21                         1.2
22                         3.9
23                         1.4
24                         4.2
25                         6.9
26                         1.7
27                         2.3
28                         3.9
29                         0.6
30                         2.9
31                         2.7
32                         1.9
33                         3.5
34                         1.2
35                         2.7
36                         3.8
37                         0.8
38                         3.9
39                         0.9
40                         6.4
41                         1.4
42                         4.5
43                         3.3
44                         1.1
45                         1.3
46                         3.3
47                         2.0
48                         1.6
49                         2.9
50                         1.7
                   State   PopTot2012  \
0                Alabama      4853875
1                 Alaska       737709
2                Arizona      6817565
3               Arkansas      2977853
4             California     38993940
5               Colorado      5448819
6            Connecticut      3584730
7               Delaware       944076
8   District of Columbia       670377
9                Florida     20244914
10               Georgia     10199398
11                Hawaii      1425157
12                 Idaho      1652828
13              Illinois  12859995[5]
14               Indiana      6612768
15                  Iowa      3121997
16                Kansas      2906721
17              Kentucky      4424611
18             Louisiana      4668960
19                 Maine      1329453
20              Maryland      5994983
21         Massachusetts      6784240
22              Michigan      9917715
23             Minnesota      5482435
24           Mississippi      2989390
25              Missouri      6076204
26               Montana      1032073
27              Nebraska      1893765
28                Nevada      2883758
29         New Hampshire      1330111
30            New Jersey      8935421
31            New Mexico      2080328
32              New York     19747183
33        North Carolina     10035186
34          North Dakota       756835
35                  Ohio     11605090
36              Oklahoma      3907414
37                Oregon      4024634
38          Pennsylvania     12791904
39          Rhode Island      1055607
40        South Carolina      4894834
41          South Dakota       857919
42             Tennessee      6595056
43                 Texas     27429639
44                  Utah      2990632
45               Vermont       626088
46              Virginia      8367587
47            Washington      7160290
48         West Virginia      1841053
49             Wisconsin      5767891
50               Wyoming       586107

   MurderNMTot2015 MurderTot2015  \
0              348           NaN
1               59            57
2              306           278
3              181           164
4             1861          1861
5              176           176
6              117           107
7               63            63
8              162           162
9             1041           NaN
10             615           565
11              19            19
12              32            30
13             744           497
14             373           272
15              72            72
16             128           125
17             209           209
18             481           474
19              23            23
20             516           372
21             128           126
22             571           571
23             133           133
24             259           159
25             502           499
26              36            36
27              62            61
28             178           177
29              14            14
30             363           353
31             117            94
32             609           611
33             517           506
34              21            17
35             500           480
36             234           233
37              99            71
38             658           651
39              29            27
40             399           394
41              32            27
42             406           402
43            1316          1276
44              54            54
45              10            10
46             383           383
47             211           209
48              70            57
49             240           238
50              16            16

   GunMurderTot2015  GunOwnPer2013  \
0               NaN           48.9
1                39           61.7
2               171           32.3
3               110           57.9
4              1275           20.1
5               115           34.3
6                73           16.6
7                52            5.2
8               121           25.9
9               NaN           32.5
10              464           31.6
11                4           45.1
12               24           56.9
13              440           26.2
14              209           33.8
15               49           33.8
16               91           32.2
17              141           42.4
18              379           44.5
19               16           22.6
20              279           20.7
21               81           22.6
22              389           28.8
23               79           36.7
24              126           42.8
25              418           27.1
26               18           52.3
27               43           19.8
28              113           37.5
29                8           14.4
30              255           11.3
31               56           49.9
32              383           10.3
33              353           28.7
34                9           47.9
35              316           19.6
36              149           31.2
37               34           26.6
38              497           27.1
39               10            5.8
40              312           44.4
41               12           35.0
42              297           39.4
43              906           35.7
44               34           31.9
45                8           28.8
46              275           29.3
47              141           27.7
48               30           54.2
49              170           34.7
50               10           53.8

    MurderNMRate_per_100k_2015  \
0                         7.20
1                         8.00
2                         4.50
3                         6.10
4                         4.80
5                         3.20
6                         3.30
7                         6.70
8                        24.20
9                         5.10
10                        6.00
11                        1.30
12                        1.90
13                        5.80
14                        5.60
15                        2.30
16                        4.40
17                        4.70
18                       10.30
19                        1.70
20                        8.60
21                        1.90
22                        5.80
23                        2.40
24                        8.70
25                        8.30
26                        3.50
27                        3.30
28                        6.20
29                        1.10
30                        4.10
31                        5.60
32                        3.10
33                        5.20
34                        2.80
35                        4.30
36                        6.00
37                        2.50
38                        5.10
39                        2.70
40                        8.20
41                        3.70
42                        6.20
43                        4.80
44                        1.80
45                        1.60
46                        4.60
47                        2.90
48                        3.80
49                        4.20
50                        2.56

   MurderRate_per_100k_2015  \
0                       NaN
1                       7.7
2                       4.1
3                       5.5
4                       4.8
5                       3.2
6                       3.0
7                       6.7
8                      24.2
9                       NaN
10                      5.5
11                      1.3
12                      1.8
13                      3.9
14                      4.1
15                      2.3
16                      4.3
17                      4.7
18                     10.2
19                      1.7
20                      6.2
21                      1.9
22                      5.8
23                      2.4
24                      5.3
25                      8.2
26                      3.5
27                      3.2
28                      6.1
29                      1.1
30                      4.0
31                      4.5
32                      3.1
33                      5.0
34                      2.2
35                      4.1
36                      6.0
37                      1.8
38                      5.1
39                      2.6
40                      8.0
41                      3.1
42                      6.1
43                      4.7
44                      1.8
45                      1.6
46                      4.6
47                      2.9
48                      3.1
49                      4.1
50                      2.7

   GunMurderRate_per_100k_2015
0                          NaN
1                          5.3
2                          2.5
3                          3.7
4                          3.3
5                          2.1
6                          2.0
7                          5.5
8                         18.0
9                          NaN
10                         4.5
11                         0.3
12                         1.5
13                         3.4
14                         3.2
15                         1.6
16                         3.1
17                         3.2
18                         8.1
19                         1.2
20                         4.7
21                         1.2
22                         3.9
23                         1.4
24                         4.2
25                         6.9
26                         1.7
27                         2.3
28                         3.9
29                         0.6
30                         2.9
31                         2.7
32                         1.9
33                         3.5
34                         1.2
35                         2.7
36                         3.8

In [16]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   State                        51 non-null     object
 1   PopTot2012                   51 non-null     object
 2   MurderNMTot2015              51 non-null     object
 3   MurderTot2015                51 non-null     object
 4   GunMurderTot2015             51 non-null     object
 5   GunOwnPer2013                51 non-null     float64
 6   MurderNMRate_per_100k_2015   51 non-null     float64
 7   MurderRate_per_100k_2015     51 non-null     object
 8   GunMurderRate_per_100k_2015  51 non-null     object
dtypes: float64(2), object(7)
memory usage: 4.0+ KB

In [17]:
crime.set_index('State')  #setting "State" as index

,PopTot2012,MurderNMTot2015,MurderTot2015,GunMurderTot2015,GunOwnPer2013,MurderNMRate_per_100k_2015,MurderRate_per_100k_2015,GunMurderRate_per_100k_2015
State,,,,,,,,
Alabama,4853875,348,NaN,NaN,48.9,7.20,NaN,NaN
Alaska,737709,59,57,39,61.7,8.00,7.7,5.3
Arizona,6817565,306,278,171,32.3,4.50,4.1,2.5
Arkansas,2977853,181,164,110,57.9,6.10,5.5,3.7
California,38993940,1861,1861,1275,20.1,4.80,4.8,3.3
Colorado,5448819,176,176,115,34.3,3.20,3.2,2.1
Connecticut,3584730,117,107,73,16.6,3.30,3.0,2.0
Delaware,944076,63,63,52,5.2,6.70,6.7,5.5
District of Columbia,670377,162,162,121,25.9,24.20,24.2,18.0
Florida,20244914,1041,NaN,NaN,32.5,5.10,NaN,NaN
Georgia,10199398,615,565,464,31.6,6.00,5.5,4.5
Hawaii,1425157,19,19,4,45.1,1.30,1.3,0.3
Idaho,1652828,32,30,24,56.9,1.90,1.8,1.5
Illinois,12859995[5],744,497,440,26.2,5.80,3.9,3.4
Indiana,6612768,373,272,209,33.8,5.60,4.1,3.2
Iowa,3121997,72,72,49,33.8,2.30,2.3,1.6
Kansas,2906721,128,125,91,32.2,4.40,4.3,3.1
Kentucky,4424611,209,209,141,42.4,4.70,4.7,3.2
Louisiana,4668960,481,474,379,44.5,10.30,10.2,8.1
Maine,1329453,23,23,16,22.6,1.70,1.7,1.2
Maryland,5994983,516,372,279,20.7,8.60,6.2,4.7
Massachusetts,6784240,128,126,81,22.6,1.90,1.9,1.2
Michigan,9917715,571,571,389,28.8,5.80,5.8,3.9
Minnesota,5482435,133,133,79,36.7,2.40,2.4,1.4
Mississippi,2989390,259,159,126,42.8,8.70,5.3,4.2
Missouri,6076204,502,499,418,27.1,8.30,8.2,6.9
Montana,1032073,36,36,18,52.3,3.50,3.5,1.7
Nebraska,1893765,62,61,43,19.8,3.30,3.2,2.3
Nevada,2883758,178,177,113,37.5,6.20,6.1,3.9
New Hampshire,1330111,14,14,8,14.4,1.10,1.1,0.6
New Jersey,8935421,363,353,255,11.3,4.10,4.0,2.9
New Mexico,2080328,117,94,56,49.9,5.60,4.5,2.7
New York,19747183,609,611,383,10.3,3.10,3.1,1.9
North Carolina,10035186,517,506,353,28.7,5.20,5.0,3.5
North Dakota,756835,21,17,9,47.9,2.80,2.2,1.2
Ohio,11605090,500,480,316,19.6,4.30,4.1,2.7
Oklahoma,3907414,234,233,149,31.2,6.00,6.0,3.8
Oregon,4024634,99,71,34,26.6,2.50,1.8,0.8
Pennsylvania,12791904,658,651,497,27.1,5.10,5.1,3.9
Rhode Island,1055607,29,27,10,5.8,2.70,2.6,0.9
South Carolina,4894834,399,394,312,44.4,8.20,8.0,6.4
South Dakota,857919,32,27,12,35.0,3.70,3.1,1.4
Tennessee,6595056,406,402,297,39.4,6.20,6.1,4.5
Texas,27429639,1316,1276,906,35.7,4.80,4.7,3.3
Utah,2990632,54,54,34,31.9,1.80,1.8,1.1
Vermont,626088,10,10,8,28.8,1.60,1.6,1.3
Virginia,8367587,383,383,275,29.3,4.60,4.6,3.3
Washington,7160290,211,209,141,27.7,2.90,2.9,2.0
West Virginia,1841053,70,57,30,54.2,3.80,3.1,1.6
Wisconsin,5767891,240,238,170,34.7,4.20,4.1,2.9
Wyoming,586107,16,16,10,53.8,2.56,2.7,1.7

In [18]:
education.head() #first 5 rows

,"State,\nfederal district,\nor territory",% High school graduate\nor higher,High School rank,% Bachelor's degree\nor higher,Bachelor's rank,% Advanced degree,Advanced rank
0,Montana,93.0%,1.0,30.7%,21.0,10.1%,33.0
1,New Hampshire,92.8%,2.0,36.0%,9.0,13.8%,10.0
2,Minnesota,92.8%,3.0,34.8%,11.0,11.8%,18.0
3,Wyoming,92.8%,4.0,26.7%,41.0,9.3%,39.0
4,Alaska,92.4%,5.0,29.0%,28.0,10.4%,29.0

In [19]:
education = education.set_axis(['State', '%High school or higher', 'High School rank','% Bachelor''s degree or higher' ,'Bachelor''s rank','% Advanced degree','Advanced rank'], axis=1) #change the column names
print(education) #print full set

                    State  \
0                 Montana
1           New Hampshire
2               Minnesota
3                 Wyoming
4                  Alaska
5            North Dakota
6                 Vermont
7                   Maine
8                    Iowa
9                    Utah
10              Wisconsin
11                 Hawaii
12           South Dakota
13               Colorado
14               Nebraska
15             Washington
16                 Kansas
17   District of Columbia
18          Massachusetts
19                  Idaho
20               Michigan
21            Connecticut
22                 Oregon
23           Pennsylvania
24               Maryland
25                   Ohio
26               Delaware
27               Missouri
28             New Jersey
29               Virginia
30               Illinois
31                Indiana
32                Florida
33               Oklahoma
34           Rhode Island
35          United States
36         North Carolina
37         South Carolina
38              Tennessee
39                Georgia
40               New York
41          West Virginia
42                 Nevada
43               Arkansas
44                Alabama
45               Kentucky
46             New Mexico
47              Louisiana
48            Mississippi
49                  Texas
50             California
51                Arizona

   %High school or higher  High School rank  \
0                   93.0%               1.0
1                   92.8%               2.0
2                   92.8%               3.0
3                   92.8%               4.0
4                   92.4%               5.0
5                   92.3%               6.0
6                   92.3%               7.0
7                   92.1%               8.0
8                   91.8%               9.0
9                   91.8%              10.0
10                  91.7%              11.0
11                  91.6%              12.0
12                  91.4%              13.0
13                  91.1%              14.0
14                  90.9%              15.0
15                  90.8%              16.0
16                  90.5%              17.0
17                  90.3%              18.0
18                  90.3%              19.0
19                  90.2%              20.0
20                  90.2%              21.0
21                  90.2%              22.0
22                  76.7%              23.0
23                  89.9%              24.0
24                  89.8%              25.0
25                  89.8%              26.0
26                  89.3%              27.0
27                  89.2%              28.0
28                  89.2%              29.0
29                  89.0%              30.0
30                  88.6%              31.0
31                  88.3%              32.0
32                  87.6%              33.0
33                  87.5%              34.0
34                  87.3%              35.0
35                  87.3%              35.5
36                  86.9%              36.0
37                  86.5%              37.0
38                  86.5%              38.0
39                  86.3%              39.0
40                  86.1%              40.0
41                  85.9%              41.0
42                  85.8%              42.0
43                  85.6%              43.0
44                  85.3%              44.0
45                  85.2%              45.0
46                  85.0%              46.0
47                  84.3%              47.0
48                  83.4%              48.0
49                  82.8%              49.0
50                  82.5%              50.0
51                  82.1%              51.0

   % Bachelors degree or higher  Bachelors rank  \
0                         30.7%            21.0
1                         36.0%             9.0
2                         34.8%            11.0
3                         26.7%            41.0
4                         29.0%            28.0
5                         28.9%            29.0
6                         36.8%             8.0
7                         30.3%            23.0
8                         27.7%            36.0
9                         32.5%            16.0
10                        29.0%            27.0
11                        32.0%            19.0
12                        27.8%            35.0
13                        39.4%             3.0
14                        30.6%            22.0
15                        34.5%            12.0
16                        32.3%            17.0
17                        56.6%             1.0
18                        42.1%             2.0
19                        26.8%            40.0
20                        28.1%            34.0
21                        38.4%             5.0
22                        32.3%            18.0
23                        30.1%            24.0
24                        39.0%             4.0
25                        27.2%            37.0
26                        31.0%            20.0
27                        28.2%            33.0
28                        38.1%             6.0
29                        37.6%             7.0
30                        33.4%            13.0
31                        25.3%            43.0
32                        28.5%            31.0
33                        24.8%            44.0
34                        33.0%            14.0
35                        30.9%            20.5
36                        29.9%            26.0
37                        27.0%            38.0
38                        26.1%            42.0
39                        29.9%            25.0
40                        35.3%            10.0
41                        19.9%            51.0
42                        23.7%            46.0
43                        22.0%            49.0
44                        24.5%            45.0
45                        23.2%            48.0
46                        26.9%            39.0
47                        23.4%            47.0
48                        21.3%            50.0
49                        28.7%            30.0
50                        32.6%            15.0
51                        28.4%            32.0

   % Advanced degree  Advanced rank
0              10.1%           33.0
1              13.8%           10.0
2              11.8%           18.0
3               9.3%           39.0
4              10.4%           29.0
5               7.8%           51.0
6              15.0%            7.0
7              10.9%           24.0
8               9.0%           42.0
9              11.0%           23.0
10              9.9%           35.0
11             10.8%           25.0
12              8.3%           45.0
13             14.6%            9.0
14             10.2%           31.0
15             12.7%           14.0
16             11.7%           20.0
17             32.8%            1.0
18             18.7%            2.0
19              8.5%           43.0
20             11.0%           22.0
21             17.0%            4.0
22             12.2%           16.0
23             11.8%           19.0
24             18.0%            3.0
25             10.2%           32.0
26             12.9%           13.0
27             10.7%           26.0
28             14.7%            8.0
29             16.1%            5.0
30             13.0%           12.0
31              9.2%           40.0
32             10.3%           30.0
33              8.3%           44.0
34             13.1%           11.0
35             11.8%           18.5
36             10.6%           28.0
37              9.8%           36.0
38              9.6%           37.0
39             11.4%           21.0
40             15.4%            6.0
41              7.9%           49.0
42              8.1%           47.0
43              7.9%           50.0
44              9.1%           41.0
45              9.6%           38.0
46             11.8%           17.0
47              8.1%           46.0
48              8.0%           48.0
49              9.9%           34.0
50             12.2%           15.0
51             10.7%           26.0

In [20]:
#some data end with a % sign. This could be a problem in calculations
#line 35 seems to contain the data all states "United States"   

education = education.replace(to_replace ='%', value = '', regex = True) # remove %
print(education) # check if % got removed

                    State  \
0                 Montana
1           New Hampshire
2               Minnesota
3                 Wyoming
4                  Alaska
5            North Dakota
6                 Vermont
7                   Maine
8                    Iowa
9                    Utah
10              Wisconsin
11                 Hawaii
12           South Dakota
13               Colorado
14               Nebraska
15             Washington
16                 Kansas
17   District of Columbia
18          Massachusetts
19                  Idaho
20               Michigan
21            Connecticut
22                 Oregon
23           Pennsylvania
24               Maryland
25                   Ohio
26               Delaware
27               Missouri
28             New Jersey
29               Virginia
30               Illinois
31                Indiana
32                Florida
33               Oklahoma
34           Rhode Island
35          United States
36         North Carolina
37         South Carolina
38              Tennessee
39                Georgia
40               New York
41          West Virginia
42                 Nevada
43               Arkansas
44                Alabama
45               Kentucky
46             New Mexico
47              Louisiana
48            Mississippi
49                  Texas
50             California
51                Arizona

   %High school or higher  High School rank  \
0                    93.0               1.0
1                    92.8               2.0
2                    92.8               3.0
3                    92.8               4.0
4                    92.4               5.0
5                    92.3               6.0
6                    92.3               7.0
7                    92.1               8.0
8                    91.8               9.0
9                    91.8              10.0
10                   91.7              11.0
11                   91.6              12.0
12                   91.4              13.0
13                   91.1              14.0
14                   90.9              15.0
15                   90.8              16.0
16                   90.5              17.0
17                   90.3              18.0
18                   90.3              19.0
19                   90.2              20.0
20                   90.2              21.0
21                   90.2              22.0
22                   76.7              23.0
23                   89.9              24.0
24                   89.8              25.0
25                   89.8              26.0
26                   89.3              27.0
27                   89.2              28.0
28                   89.2              29.0
29                   89.0              30.0
30                   88.6              31.0
31                   88.3              32.0
32                   87.6              33.0
33                   87.5              34.0
34                   87.3              35.0
35                   87.3              35.5
36                   86.9              36.0
37                   86.5              37.0
38                   86.5              38.0
39                   86.3              39.0
40                   86.1              40.0
41                   85.9              41.0
42                   85.8              42.0
43                   85.6              43.0
44                   85.3              44.0
45                   85.2              45.0
46                   85.0              46.0
47                   84.3              47.0
48                   83.4              48.0
49                   82.8              49.0
50                   82.5              50.0
51                   82.1              51.0

   % Bachelors degree or higher  Bachelors rank  \
0                          30.7            21.0
1                          36.0             9.0
2                          34.8            11.0
3                          26.7            41.0
4                          29.0            28.0
5                          28.9            29.0
6                          36.8             8.0
7                          30.3            23.0
8                          27.7            36.0
9                          32.5            16.0
10                         29.0            27.0
11                         32.0            19.0
12                         27.8            35.0
13                         39.4             3.0
14                         30.6            22.0
15                         34.5            12.0
16                         32.3            17.0
17                         56.6             1.0
18                         42.1             2.0
19                         26.8            40.0
20                         28.1            34.0
21                         38.4             5.0
22                         32.3            18.0
23                         30.1            24.0
24                         39.0             4.0
25                         27.2            37.0
26                         31.0            20.0
27                         28.2            33.0
28                         38.1             6.0
29                         37.6             7.0
30                         33.4            13.0
31                         25.3            43.0
32                         28.5            31.0
33                         24.8            44.0
34                         33.0            14.0
35                         30.9            20.5
36                         29.9            26.0
37                         27.0            38.0
38                         26.1            42.0
39                         29.9            25.0
40                         35.3            10.0
41                         19.9            51.0
42                         23.7            46.0
43                         22.0            49.0
44                         24.5            45.0
45                         23.2            48.0
46                         26.9            39.0
47                         23.4            47.0
48                         21.3            50.0
49                         28.7            30.0
50                         32.6            15.0
51                         28.4            32.0

   % Advanced degree  Advanced rank
0               10.1           33.0
1               13.8           10.0
2               11.8           18.0
3                9.3           39.0
4               10.4           29.0
5                7.8           51.0
6               15.0            7.0
7               10.9           24.0
8                9.0           42.0
9               11.0           23.0
10               9.9           35.0
11              10.8           25.0
12               8.3           45.0
13              14.6            9.0
14              10.2           31.0
15              12.7           14.0
16              11.7           20.0
17              32.8            1.0
18              18.7            2.0
19               8.5           43.0
20              11.0           22.0
21              17.0            4.0
22              12.2           16.0
23              11.8           19.0
24              18.0            3.0
25              10.2           32.0
26              12.9           13.0
27              10.7           26.0
28              14.7            8.0
29              16.1            5.0
30              13.0           12.0
31               9.2           40.0
32              10.3           30.0
33               8.3           44.0
34              13.1           11.0
35              11.8           18.5
36              10.6           28.0
37               9.8           36.0
38               9.6           37.0
39              11.4           21.0
40              15.4            6.0
41               7.9           49.0
42               8.1           47.0
43               7.9           50.0
44               9.1           41.0
45               9.6           38.0
46              11.8           17.0
47               8.1           46.0
48               8.0           48.0
49               9.9           34.0
50              12.2           15.0
51              10.7           26.0

In [21]:
education = education.drop([35]) #delete row 35 "United States"

In [22]:
print(education)

                    State  \
0                 Montana
1           New Hampshire
2               Minnesota
3                 Wyoming
4                  Alaska
5            North Dakota
6                 Vermont
7                   Maine
8                    Iowa
9                    Utah
10              Wisconsin
11                 Hawaii
12           South Dakota
13               Colorado
14               Nebraska
15             Washington
16                 Kansas
17   District of Columbia
18          Massachusetts
19                  Idaho
20               Michigan
21            Connecticut
22                 Oregon
23           Pennsylvania
24               Maryland
25                   Ohio
26               Delaware
27               Missouri
28             New Jersey
29               Virginia
30               Illinois
31                Indiana
32                Florida
33               Oklahoma
34           Rhode Island
36         North Carolina
37         South Carolina
38              Tennessee
39                Georgia
40               New York
41          West Virginia
42                 Nevada
43               Arkansas
44                Alabama
45               Kentucky
46             New Mexico
47              Louisiana
48            Mississippi
49                  Texas
50             California
51                Arizona

   %High school or higher  High School rank  \
0                    93.0               1.0
1                    92.8               2.0
2                    92.8               3.0
3                    92.8               4.0
4                    92.4               5.0
5                    92.3               6.0
6                    92.3               7.0
7                    92.1               8.0
8                    91.8               9.0
9                    91.8              10.0
10                   91.7              11.0
11                   91.6              12.0
12                   91.4              13.0
13                   91.1              14.0
14                   90.9              15.0
15                   90.8              16.0
16                   90.5              17.0
17                   90.3              18.0
18                   90.3              19.0
19                   90.2              20.0
20                   90.2              21.0
21                   90.2              22.0
22                   76.7              23.0
23                   89.9              24.0
24                   89.8              25.0
25                   89.8              26.0
26                   89.3              27.0
27                   89.2              28.0
28                   89.2              29.0
29                   89.0              30.0
30                   88.6              31.0
31                   88.3              32.0
32                   87.6              33.0
33                   87.5              34.0
34                   87.3              35.0
36                   86.9              36.0
37                   86.5              37.0
38                   86.5              38.0
39                   86.3              39.0
40                   86.1              40.0
41                   85.9              41.0
42                   85.8              42.0
43                   85.6              43.0
44                   85.3              44.0
45                   85.2              45.0
46                   85.0              46.0
47                   84.3              47.0
48                   83.4              48.0
49                   82.8              49.0
50                   82.5              50.0
51                   82.1              51.0

   % Bachelors degree or higher  Bachelors rank  \
0                          30.7            21.0
1                          36.0             9.0
2                          34.8            11.0
3                          26.7            41.0
4                          29.0            28.0
5                          28.9            29.0
6                          36.8             8.0
7                          30.3            23.0
8                          27.7            36.0
9                          32.5            16.0
10                         29.0            27.0
11                         32.0            19.0
12                         27.8            35.0
13                         39.4             3.0
14                         30.6            22.0
15                         34.5            12.0
16                         32.3            17.0
17                         56.6             1.0
18                         42.1             2.0
19                         26.8            40.0
20                         28.1            34.0
21                         38.4             5.0
22                         32.3            18.0
23                         30.1            24.0
24                         39.0             4.0
25                         27.2            37.0
26                         31.0            20.0
27                         28.2            33.0
28                         38.1             6.0
29                         37.6             7.0
30                         33.4            13.0
31                         25.3            43.0
32                         28.5            31.0
33                         24.8            44.0
34                         33.0            14.0
36                         29.9            26.0
37                         27.0            38.0
38                         26.1            42.0
39                         29.9            25.0
40                         35.3            10.0
41                         19.9            51.0
42                         23.7            46.0
43                         22.0            49.0
44                         24.5            45.0
45                         23.2            48.0
46                         26.9            39.0
47                         23.4            47.0
48                         21.3            50.0
49                         28.7            30.0
50                         32.6            15.0
51                         28.4            32.0

   % Advanced degree  Advanced rank
0               10.1           33.0
1               13.8           10.0
2               11.8           18.0
3                9.3           39.0
4               10.4           29.0
5                7.8           51.0
6               15.0            7.0
7               10.9           24.0
8                9.0           42.0
9               11.0           23.0
10               9.9           35.0
11              10.8           25.0
12               8.3           45.0
13              14.6            9.0
14              10.2           31.0
15              12.7           14.0
16              11.7           20.0
17              32.8            1.0
18              18.7            2.0
19               8.5           43.0
20              11.0           22.0
21              17.0            4.0
22              12.2           16.0
23              11.8           19.0
24              18.0            3.0
25              10.2           32.0
26              12.9           13.0
27              10.7           26.0
28              14.7            8.0
29              16.1            5.0
30              13.0           12.0
31               9.2           40.0
32              10.3           30.0
33               8.3           44.0
34              13.1           11.0
36              10.6           28.0
37               9.8           36.0
38               9.6           37.0
39              11.4           21.0
40              15.4            6.0
41               7.9           49.0
42               8.1           47.0
43               7.9           50.0
44               9.1           41.0
45               9.6           38.0
46              11.8           17.0
47               8.1           46.0
48               8.0           48.0
49               9.9           34.0
50              12.2           15.0
51              10.7           26.0

In [23]:
#the index broke between 34 and 35
education = education.reset_index(drop=True) #reset the index
print(education) #checking full set

                    State  \
0                 Montana
1           New Hampshire
2               Minnesota
3                 Wyoming
4                  Alaska
5            North Dakota
6                 Vermont
7                   Maine
8                    Iowa
9                    Utah
10              Wisconsin
11                 Hawaii
12           South Dakota
13               Colorado
14               Nebraska
15             Washington
16                 Kansas
17   District of Columbia
18          Massachusetts
19                  Idaho
20               Michigan
21            Connecticut
22                 Oregon
23           Pennsylvania
24               Maryland
25                   Ohio
26               Delaware
27               Missouri
28             New Jersey
29               Virginia
30               Illinois
31                Indiana
32                Florida
33               Oklahoma
34           Rhode Island
35         North Carolina
36         South Carolina
37              Tennessee
38                Georgia
39               New York
40          West Virginia
41                 Nevada
42               Arkansas
43                Alabama
44               Kentucky
45             New Mexico
46              Louisiana
47            Mississippi
48                  Texas
49             California
50                Arizona

   %High school or higher  High School rank  \
0                    93.0               1.0
1                    92.8               2.0
2                    92.8               3.0
3                    92.8               4.0
4                    92.4               5.0
5                    92.3               6.0
6                    92.3               7.0
7                    92.1               8.0
8                    91.8               9.0
9                    91.8              10.0
10                   91.7              11.0
11                   91.6              12.0
12                   91.4              13.0
13                   91.1              14.0
14                   90.9              15.0
15                   90.8              16.0
16                   90.5              17.0
17                   90.3              18.0
18                   90.3              19.0
19                   90.2              20.0
20                   90.2              21.0
21                   90.2              22.0
22                   76.7              23.0
23                   89.9              24.0
24                   89.8              25.0
25                   89.8              26.0
26                   89.3              27.0
27                   89.2              28.0
28                   89.2              29.0
29                   89.0              30.0
30                   88.6              31.0
31                   88.3              32.0
32                   87.6              33.0
33                   87.5              34.0
34                   87.3              35.0
35                   86.9              36.0
36                   86.5              37.0
37                   86.5              38.0
38                   86.3              39.0
39                   86.1              40.0
40                   85.9              41.0
41                   85.8              42.0
42                   85.6              43.0
43                   85.3              44.0
44                   85.2              45.0
45                   85.0              46.0
46                   84.3              47.0
47                   83.4              48.0
48                   82.8              49.0
49                   82.5              50.0
50                   82.1              51.0

   % Bachelors degree or higher  Bachelors rank  \
0                          30.7            21.0
1                          36.0             9.0
2                          34.8            11.0
3                          26.7            41.0
4                          29.0            28.0
5                          28.9            29.0
6                          36.8             8.0
7                          30.3            23.0
8                          27.7            36.0
9                          32.5            16.0
10                         29.0            27.0
11                         32.0            19.0
12                         27.8            35.0
13                         39.4             3.0
14                         30.6            22.0
15                         34.5            12.0
16                         32.3            17.0
17                         56.6             1.0
18                         42.1             2.0
19                         26.8            40.0
20                         28.1            34.0
21                         38.4             5.0
22                         32.3            18.0
23                         30.1            24.0
24                         39.0             4.0
25                         27.2            37.0
26                         31.0            20.0
27                         28.2            33.0
28                         38.1             6.0
29                         37.6             7.0
30                         33.4            13.0
31                         25.3            43.0
32                         28.5            31.0
33                         24.8            44.0
34                         33.0            14.0
35                         29.9            26.0
36                         27.0            38.0
37                         26.1            42.0
38                         29.9            25.0
39                         35.3            10.0
40                         19.9            51.0
41                         23.7            46.0
42                         22.0            49.0
43                         24.5            45.0
44                         23.2            48.0
45                         26.9            39.0
46                         23.4            47.0
47                         21.3            50.0
48                         28.7            30.0
49                         32.6            15.0
50                         28.4            32.0

   % Advanced degree  Advanced rank
0               10.1           33.0
1               13.8           10.0
2               11.8           18.0
3                9.3           39.0
4               10.4           29.0
5                7.8           51.0
6               15.0            7.0
7               10.9           24.0
8                9.0           42.0
9               11.0           23.0
10               9.9           35.0
11              10.8           25.0
12               8.3           45.0
13              14.6            9.0
14              10.2           31.0
15              12.7           14.0
16              11.7           20.0
17              32.8            1.0
18              18.7            2.0
19               8.5           43.0
20              11.0           22.0
21              17.0            4.0
22              12.2           16.0
23              11.8           19.0
24              18.0            3.0
25              10.2           32.0
26              12.9           13.0
27              10.7           26.0
28              14.7            8.0
29              16.1            5.0
30              13.0           12.0
31               9.2           40.0
32              10.3           30.0
33               8.3           44.0
34              13.1           11.0
35              10.6           28.0
36               9.8           36.0
37               9.6           37.0
38              11.4           21.0
39              15.4            6.0
40               7.9           49.0
41               8.1           47.0
42               7.9           50.0
43               9.1           41.0
44               9.6           38.0
45              11.8           17.0
46               8.1           46.0
47               8.0           48.0
48               9.9           34.0
49              12.2           15.0
50              10.7           26.0

In [24]:
income_xls.head() #first 5 rows

,Rank,State,Income2017,Income2016,Income2015,Income2014,Income2013,Income2012,Income2011,Income2010,Income2009,Income2008,Income2007
0,1,District of Columbia,82336,75506,75628,71648,67572,65246,66583,63124,59290,57936,54317
1,2,Maryland,80776,78945,75847,73971,72483,71836,70004,68854,69272,70545,68080
2,3,New Jersey,80088,76126,72222,72919,70165,69667,67458,67681,68342,70373,67035
3,4,Hawaii,77765,74511,73486,69592,68020,66259,61821,63030,64098,67214,63746
4,5,Massachusetts,77385,75297,70628,69160,66768,65339,62859,62072,64081,65401,62365

In [25]:
#first 5 rows look fine
print(income_xls) #print full set

    Rank                 State  Income2017  \
0      1  District of Columbia       82336
1      2              Maryland       80776
2      3            New Jersey       80088
3      4                Hawaii       77765
4      5         Massachusetts       77385
5      6           Connecticut       74168
6      7         New Hampshire       73381
7      8                Alaska       73181
8      9            California       71805
9     10              Virginia       71535
10    11            Washington       70979
11    12              Colorado       69117
12    13             Minnesota       68388
13    14                  Utah       68358
14    15              New York       64894
15    16          Rhode Island       63870
16    17              Illinois       62992
17    18              Delaware       62852
18    19          North Dakota       61843
19    20               Wyoming       60434
20    21                Oregon       60212
21    22              Nebraska       59970
22    23             Wisconsin       59305
23    24                 Texas       59206
24    25          Pennsylvania       59195
25    26                  Iowa       58570
26    27                Nevada       58003
27    28               Vermont       57513
28    29               Arizona       56581
29    30          South Dakota       56894
30    31                Kansas       56422
31    32                 Maine       56277
32    33               Georgia       56183
33    34              Michigan       54909
34    35               Indiana       54181
35    36                  Ohio       54021
36    37              Missouri       53578
37    38               Montana       53386
38    39        North Carolina       52752
39    40               Florida       52594
40    41                 Idaho       52225
41    42             Tennessee       51340
42    43        South Carolina       50570
43    44              Oklahoma       50051
44    45              Kentucky       48375
45    46               Alabama       48123
46    47            New Mexico       46744
47    48             Louisiana       46145
48    49              Arkansas       45869
49    50           Mississippi       43529
50    51         West Virginia       43469

    Income2016  Income2015  Income2014  \
0        75506       75628       71648
1        78945       75847       73971
2        76126       72222       72919
3        74511       73486       69592
4        75297       70628       69160
5        73433       71346       70048
6        70936       70303       66532
7        76440       73355       71583
8        67739       64500       61933
9        68114       66262       64902
10       67106       64129       61366
11       65685       63909       61303
12       65599       63488       61481
13       65977       62912       60922
14       62909       60850       58878
15       60596       58073       54891
16       60960       59588       57444
17       61757       61255       59716
18       60656       60557       59029
19       59882       60214       57055
20       57532       54148       51075
21       56927       54996       52686
22       56811       55638       52622
23       56565       55653       53035
24       56907       55702       53234
25       56247       54736       53712
26       55180       52431       51450
27       57677       56990       54166
28       53558       51492       50068
29       54467       53017       50979
30       54935       53906       52504
31       53079       51494       49462
32       53559       51244       49321
33       52492       51084       49847
34       52314       50532       49446
35       52334       51075       49308
36       51746       50238       48363
37       50027       49509       46328
38       50584       47830       46556
39       50860       49426       47463
40       51807       48275       47861
41       48547       47275       44361
42       49501       47238       45238
43       49176       48568       47529
44       46659       44765       42958
45       46257       44765       42830
46       46748       45382       44803
47       45146       45727       44555
48       45907       42798       44922
49       41754       40593       39680
50       43385       42019       41059

    Income2013  Income2012  Income2011  \
0        67572       65246       66583
1        72483       71836       70004
2        70165       69667       67458
3        68020       66259       61821
4        66768       65339       62859
5        67098       67276       65753
6        64230       63280       62647
7        72237       67712       67825
8        60190       58328       57287
9        62666       61741       61882
10       58405       57573       56835
11       58823       56765       55387
12       60702       58906       56954
13       59770       57049       55869
14       57369       56448       55246
15       55902       54554       53636
16       56210       55137       53234
17       57846       54554       58814
18       55759       53585       51704
19       58752       54901       56322
20       50251       49161       46816
21       51440       50723       50296
22       51467       51059       50395
23       51704       50740       49392
24       52007       51230       50228
25       52229       50957       49427
26       51230       49760       48927
27       52578       52997       52776
28       48510       47826       46709
29       48947       48362       48321
30       50972       50241       48264
31       46974       46709       46033
32       47829       47209       46007
33       48273       46859       45981
34       47529       46974       46438
35       48081       46829       45749
36       46931       45321       45247
37       46972       45076       44222
38       45906       45150       43916
39       46036       45040       44299
40       46783       45489       43341
41       44297       42764       41693
42       44163       43107       43916
43       45690       44312       43225
44       43399       41724       41141
45       42849       41574       41415
46       43872       42558       41963
47       44164       42944       41734
48       39376       39018       41302
49       37963       37095       36919
50       41253       40196       38482

    Income2010  Income2009  Income2008  \
0        63124       59290       57936
1        68854       69272       70545
2        67681       68342       70373
3        63030       64098       67214
4        62072       64081       65401
5        64032       67034       68595
6        61042       60567       63731
7        64576       66953       68460
8        57708       58931       61021
9        60674       59330       61233
10       55631       56548       58078
11       54046       55430       56993
12       55459       55616       57288
13       54744       55117       56633
14       54148       54659       56013
15       52254       54119       55701
16       52972       53966       56235
17       55847       56860       57989
18       48670       47827       46032
19       53512       52664       53207
20       46560       48457       50169
21       52504       48408       49693
22       49001       49993       52094
23       48615       48259       50043
24       49288       49520       50713
25       47961       48044       48980
26       51001       53341       56361
27       49406       51618       52104
28       46789       48745       50958
29       45904       45043       46032
30       48257       47817       50177
31       45815       45734       46581
32       46430       44736       50861
33       45413       45255       48591
34       44613       45424       47966
35       45090       45395       47988
36       44301       45229       46867
37       42666       42322       43654
38       43326       43674       46549
39       44409       44736       47778
40       43490       44926       47576
41       41461       41725       43614
42       42018       42442       44625
43       42072       41664       42822
44       40062       40072       41538
45       40474       40489       42666
46       42090       43028       43508
47       42505       42429       43733
48       38587       36538       39586
49       36851       36646       37790
50       37218       37435       37989

    Income2007
0        54317
1        68080
2        67035
3        63746
4        62365
5        65967
6        62369
7        64333
8        59948
9        59562
10       55212
11       55212
12       55802
13       55109
14       53514
15       53568
16       54124
17       54610
18       43531
19       51731
20       48730
21       47085
22       50578
23       47548
24       48576
25       47292
26       55062
27       49907
28       49889
29       43424
30       47451
31       45888
32       49136
33       47950
34       47448
35       46597
36       45114
37       43531
38       44670
39       47804
40       46253
41       42367
42       43329
43       41567
44       40267
45       40554
46       41452
47       40926
48       38134
49       36338
50       37060

In [26]:
#data set looks fine
income_xlsx.head() #first 5 rows

,Rank,State,Income2017,Income2016,Income2015,Income2014,Income2013,Income2012,Income2011,Income2010,Income2009,Income2008,Income2007
0,1,District of Columbia,82336,75506,75628,71648,67572,65246,66583,63124,59290,57936,54317
1,2,Maryland,80776,78945,75847,73971,72483,71836,70004,68854,69272,70545,68080
2,3,New Jersey,80088,76126,72222,72919,70165,69667,67458,67681,68342,70373,67035
3,4,Hawaii,77765,74511,73486,69592,68020,66259,61821,63030,64098,67214,63746
4,5,Massachusetts,77385,75297,70628,69160,66768,65339,62859,62072,64081,65401,62365

In [27]:
print(income_xlsx) #print full data set

    Rank                 State  Income2017  \
0      1  District of Columbia       82336
1      2              Maryland       80776
2      3            New Jersey       80088
3      4                Hawaii       77765
4      5         Massachusetts       77385
5      6           Connecticut       74168
6      7         New Hampshire       73381
7      8                Alaska       73181
8      9            California       71805
9     10              Virginia       71535
10    11            Washington       70979
11    12              Colorado       69117
12    13             Minnesota       68388
13    14                  Utah       68358
14    15              New York       64894
15    16          Rhode Island       63870
16    17              Illinois       62992
17    18              Delaware       62852
18    19          North Dakota       61843
19    20               Wyoming       60434
20    21                Oregon       60212
21    22              Nebraska       59970
22    23             Wisconsin       59305
23    24                 Texas       59206
24    25          Pennsylvania       59195
25    26                  Iowa       58570
26    27                Nevada       58003
27    28               Vermont       57513
28    29               Arizona       56581
29    30          South Dakota       56894
30    31                Kansas       56422
31    32                 Maine       56277
32    33               Georgia       56183
33    34              Michigan       54909
34    35               Indiana       54181
35    36                  Ohio       54021
36    37              Missouri       53578
37    38               Montana       53386
38    39        North Carolina       52752
39    40               Florida       52594
40    41                 Idaho       52225
41    42             Tennessee       51340
42    43        South Carolina       50570
43    44              Oklahoma       50051
44    45              Kentucky       48375
45    46               Alabama       48123
46    47            New Mexico       46744
47    48             Louisiana       46145
48    49              Arkansas       45869
49    50           Mississippi       43529
50    51         West Virginia       43469

    Income2016  Income2015  Income2014  \
0        75506       75628       71648
1        78945       75847       73971
2        76126       72222       72919
3        74511       73486       69592
4        75297       70628       69160
5        73433       71346       70048
6        70936       70303       66532
7        76440       73355       71583
8        67739       64500       61933
9        68114       66262       64902
10       67106       64129       61366
11       65685       63909       61303
12       65599       63488       61481
13       65977       62912       60922
14       62909       60850       58878
15       60596       58073       54891
16       60960       59588       57444
17       61757       61255       59716
18       60656       60557       59029
19       59882       60214       57055
20       57532       54148       51075
21       56927       54996       52686
22       56811       55638       52622
23       56565       55653       53035
24       56907       55702       53234
25       56247       54736       53712
26       55180       52431       51450
27       57677       56990       54166
28       53558       51492       50068
29       54467       53017       50979
30       54935       53906       52504
31       53079       51494       49462
32       53559       51244       49321
33       52492       51084       49847
34       52314       50532       49446
35       52334       51075       49308
36       51746       50238       48363
37       50027       49509       46328
38       50584       47830       46556
39       50860       49426       47463
40       51807       48275       47861
41       48547       47275       44361
42       49501       47238       45238
43       49176       48568       47529
44       46659       44765       42958
45       46257       44765       42830
46       46748       45382       44803
47       45146       45727       44555
48       45907       42798       44922
49       41754       40593       39680
50       43385       42019       41059

    Income2013  Income2012  Income2011  \
0        67572       65246       66583
1        72483       71836       70004
2        70165       69667       67458
3        68020       66259       61821
4        66768       65339       62859
5        67098       67276       65753
6        64230       63280       62647
7        72237       67712       67825
8        60190       58328       57287
9        62666       61741       61882
10       58405       57573       56835
11       58823       56765       55387
12       60702       58906       56954
13       59770       57049       55869
14       57369       56448       55246
15       55902       54554       53636
16       56210       55137       53234
17       57846       54554       58814
18       55759       53585       51704
19       58752       54901       56322
20       50251       49161       46816
21       51440       50723       50296
22       51467       51059       50395
23       51704       50740       49392
24       52007       51230       50228
25       52229       50957       49427
26       51230       49760       48927
27       52578       52997       52776
28       48510       47826       46709
29       48947       48362       48321
30       50972       50241       48264
31       46974       46709       46033
32       47829       47209       46007
33       48273       46859       45981
34       47529       46974       46438
35       48081       46829       45749
36       46931       45321       45247
37       46972       45076       44222
38       45906       45150       43916
39       46036       45040       44299
40       46783       45489       43341
41       44297       42764       41693
42       44163       43107       43916
43       45690       44312       43225
44       43399       41724       41141
45       42849       41574       41415
46       43872       42558       41963
47       44164       42944       41734
48       39376       39018       41302
49       37963       37095       36919
50       41253       40196       38482

    Income2010  Income2009  Income2008  \
0        63124       59290       57936
1        68854       69272       70545
2        67681       68342       70373
3        63030       64098       67214
4        62072       64081       65401
5        64032       67034       68595
6        61042       60567       63731
7        64576       66953       68460
8        57708       58931       61021
9        60674       59330       61233
10       55631       56548       58078
11       54046       55430       56993
12       55459       55616       57288
13       54744       55117       56633
14       54148       54659       56013
15       52254       54119       55701
16       52972       53966       56235
17       55847       56860       57989
18       48670       47827       46032
19       53512       52664       53207
20       46560       48457       50169
21       52504       48408       49693
22       49001       49993       52094
23       48615       48259       50043
24       49288       49520       50713
25       47961       48044       48980
26       51001       53341       56361
27       49406       51618       52104
28       46789       48745       50958
29       45904       45043       46032
30       48257       47817       50177
31       45815       45734       46581
32       46430       44736       50861
33       45413       45255       48591
34       44613       45424       47966
35       45090       45395       47988
36       44301       45229       46867
37       42666       42322       43654
38       43326       43674       46549
39       44409       44736       47778
40       43490       44926       47576
41       41461       41725       43614
42       42018       42442       44625
43       42072       41664       42822
44       40062       40072       41538
45       40474       40489       42666
46       42090       43028       43508
47       42505       42429       43733
48       38587       36538       39586
49       36851       36646       37790
50       37218       37435       37989

    Income2007
0        54317
1        68080
2        67035
3        63746
4        62365
5        65967
6        62369
7        64333
8        59948
9        59562
10       55212
11       55212
12       55802
13       55109
14       53514
15       53568
16       54124
17       54610
18       43531
19       51731
20       48730
21       47085
22       50578
23       47548
24       48576
25       47292
26       55062
27       49907
28       49889
29       43424
30       47451
31       45888
32       49136
33       47950
34       47448
35       46597
36       45114
37       43531
38       44670
39       47804
40       46253
41       42367
42       43329
43       41567
44       40267
45       40554
46       41452
47       40926
48       38134
49       36338
50       37060

In [28]:
region.head() #first 5 rows

         Name Abb Region            Division
1     Alabama  AL  South  East South Central
2      Alaska  AK   West             Pacific
3     Arizona  AZ   West            Mountain
4    Arkansas  AR  South  west south central
5  California  CA   West             Pacific

In [29]:
#first East South Central & west south central look suspicious could be a upper and lower case problem
print(region) #print the full set

              Name Abb         Region  \
1          Alabama  AL          South
2           Alaska  AK           West
3          Arizona  AZ           West
4         Arkansas  AR          South
5       California  CA           West
6         Colorado  CO           West
7      Connecticut  CT      Northeast
8         Delaware  DE          South
9          Florida  FL          South
10         Georgia  GA          South
11          Hawaii  HI           West
12           Idaho  ID           West
13        Illinois  IL  North Central
14         Indiana  IN  North Central
15            Iowa  IA  North Central
16          Kansas  KS  North Central
17        Kentucky  KY          South
18       Louisiana  LA          South
19           Maine  ME      Northeast
20        Maryland  MD          South
21   Massachusetts  MA      Northeast
22        Michigan  MI  North Central
23       Minnesota  MN  North Central
24     Mississippi  MS          South
25        Missouri  MO  North Central
26         Montana  MT           West
27        Nebraska  NE  North Central
28          Nevada  NV           West
29   New Hampshire  NH      Northeast
30      New Jersey  NJ      Northeast
31      New Mexico  NM           West
32        New York  NY      Northeast
33  North Carolina  NC          South
34    North Dakota  ND  North Central
35            Ohio  OH  North Central
36        Oklahoma  OK          South
37          Oregon  OR           West
38    Pennsylvania  PA      Northeast
39    Rhode Island  RI      Northeast
40  South Carolina  SC          South
41    South Dakota  SD  North Central
42       Tennessee  TN          South
43           Texas  TX          South
44            Utah  UT           West
45         Vermont  VT      Northeast
46        Virginia  VA          South
47      Washington  WA           West
48   West Virginia  WV          South
49       Wisconsin  WI  North Central
50         Wyoming  WY           West

              Division
1   East South Central
2              Pacific
3             Mountain
4   west south central
5              Pacific
6             Mountain
7          New England
8       south atlantic
9       South Atlantic
10      South Atlantic
11             Pacific
12            Mountain
13  East North Central
14  East North Central
15  West North Central
16  West North Central
17  East South Central
18  West South Central
19         New England
20      South Atlantic
21         New England
22  East North Central
23  West North Central
24  East South Central
25  West North Central
26            Mountain
27  West North Central
28            Mountain
29         New England
30     Middle Atlantic
31            Mountain
32     Middle Atlantic
33      South Atlantic
34  West North Central
35  East North Central
36  West South Central
37             Pacific
38     Middle Atlantic
39         New England
40      South Atlantic
41  West North Central
42  East South Central
43  West South Central
44            Mountain
45         New England
46      South Atlantic
47             Pacific
48      South Atlantic
49  East North Central
50            Mountain

In [30]:
#Upper and lower case not consistent e.g.:"South Atlantic" & "south atlantic"
region.columns = region.columns.str.lower()
for col in region.columns:
    region[col] = region[col].str.lower()

   
region.head()

         name abb region            division
1     alabama  al  south  east south central
2      alaska  ak   west             pacific
3     arizona  az   west            mountain
4    arkansas  ar  south  west south central
5  california  ca   west             pacific

In [31]:
region = region.rename(columns={"name": "State"})

In [32]:
region.head()

        State abb region            division
1     alabama  al  south  east south central
2      alaska  ak   west             pacific
3     arizona  az   west            mountain
4    arkansas  ar  south  west south central
5  california  ca   west             pacific

In [33]:
education.set_index('State') #setting "State" as index

,%High school or higher,High School rank,% Bachelors degree or higher,Bachelors rank,% Advanced degree,Advanced rank
State,,,,,,
Montana,93.0,1.0,30.7,21.0,10.1,33.0
New Hampshire,92.8,2.0,36.0,9.0,13.8,10.0
Minnesota,92.8,3.0,34.8,11.0,11.8,18.0
Wyoming,92.8,4.0,26.7,41.0,9.3,39.0
Alaska,92.4,5.0,29.0,28.0,10.4,29.0
North Dakota,92.3,6.0,28.9,29.0,7.8,51.0
Vermont,92.3,7.0,36.8,8.0,15.0,7.0
Maine,92.1,8.0,30.3,23.0,10.9,24.0
Iowa,91.8,9.0,27.7,36.0,9.0,42.0
Utah,91.8,10.0,32.5,16.0,11.0,23.0
Wisconsin,91.7,11.0,29.0,27.0,9.9,35.0
Hawaii,91.6,12.0,32.0,19.0,10.8,25.0
South Dakota,91.4,13.0,27.8,35.0,8.3,45.0
Colorado,91.1,14.0,39.4,3.0,14.6,9.0
Nebraska,90.9,15.0,30.6,22.0,10.2,31.0
Washington,90.8,16.0,34.5,12.0,12.7,14.0
Kansas,90.5,17.0,32.3,17.0,11.7,20.0
District of Columbia,90.3,18.0,56.6,1.0,32.8,1.0
Massachusetts,90.3,19.0,42.1,2.0,18.7,2.0
Idaho,90.2,20.0,26.8,40.0,8.5,43.0
Michigan,90.2,21.0,28.1,34.0,11.0,22.0
Connecticut,90.2,22.0,38.4,5.0,17.0,4.0
Oregon,76.7,23.0,32.3,18.0,12.2,16.0
Pennsylvania,89.9,24.0,30.1,24.0,11.8,19.0
Maryland,89.8,25.0,39.0,4.0,18.0,3.0
Ohio,89.8,26.0,27.2,37.0,10.2,32.0
Delaware,89.3,27.0,31.0,20.0,12.9,13.0
Missouri,89.2,28.0,28.2,33.0,10.7,26.0
New Jersey,89.2,29.0,38.1,6.0,14.7,8.0
Virginia,89.0,30.0,37.6,7.0,16.1,5.0
Illinois,88.6,31.0,33.4,13.0,13.0,12.0
Indiana,88.3,32.0,25.3,43.0,9.2,40.0
Florida,87.6,33.0,28.5,31.0,10.3,30.0
Oklahoma,87.5,34.0,24.8,44.0,8.3,44.0
Rhode Island,87.3,35.0,33.0,14.0,13.1,11.0
North Carolina,86.9,36.0,29.9,26.0,10.6,28.0
South Carolina,86.5,37.0,27.0,38.0,9.8,36.0
Tennessee,86.5,38.0,26.1,42.0,9.6,37.0
Georgia,86.3,39.0,29.9,25.0,11.4,21.0
New York,86.1,40.0,35.3,10.0,15.4,6.0
West Virginia,85.9,41.0,19.9,51.0,7.9,49.0
Nevada,85.8,42.0,23.7,46.0,8.1,47.0
Arkansas,85.6,43.0,22.0,49.0,7.9,50.0
Alabama,85.3,44.0,24.5,45.0,9.1,41.0
Kentucky,85.2,45.0,23.2,48.0,9.6,38.0
New Mexico,85.0,46.0,26.9,39.0,11.8,17.0
Louisiana,84.3,47.0,23.4,47.0,8.1,46.0
Mississippi,83.4,48.0,21.3,50.0,8.0,48.0
Texas,82.8,49.0,28.7,30.0,9.9,34.0
California,82.5,50.0,32.6,15.0,12.2,15.0
Arizona,82.1,51.0,28.4,32.0,10.7,26.0

In [34]:
income_xls.set_index('State') #setting "State" as index

,Rank,Income2017,Income2016,Income2015,Income2014,Income2013,Income2012,Income2011,Income2010,Income2009,Income2008,Income2007
State,,,,,,,,,,,,
District of Columbia,1,82336,75506,75628,71648,67572,65246,66583,63124,59290,57936,54317
Maryland,2,80776,78945,75847,73971,72483,71836,70004,68854,69272,70545,68080
New Jersey,3,80088,76126,72222,72919,70165,69667,67458,67681,68342,70373,67035
Hawaii,4,77765,74511,73486,69592,68020,66259,61821,63030,64098,67214,63746
Massachusetts,5,77385,75297,70628,69160,66768,65339,62859,62072,64081,65401,62365
Connecticut,6,74168,73433,71346,70048,67098,67276,65753,64032,67034,68595,65967
New Hampshire,7,73381,70936,70303,66532,64230,63280,62647,61042,60567,63731,62369
Alaska,8,73181,76440,73355,71583,72237,67712,67825,64576,66953,68460,64333
California,9,71805,67739,64500,61933,60190,58328,57287,57708,58931,61021,59948
Virginia,10,71535,68114,66262,64902,62666,61741,61882,60674,59330,61233,59562
Washington,11,70979,67106,64129,61366,58405,57573,56835,55631,56548,58078,55212
Colorado,12,69117,65685,63909,61303,58823,56765,55387,54046,55430,56993,55212
Minnesota,13,68388,65599,63488,61481,60702,58906,56954,55459,55616,57288,55802
Utah,14,68358,65977,62912,60922,59770,57049,55869,54744,55117,56633,55109
New York,15,64894,62909,60850,58878,57369,56448,55246,54148,54659,56013,53514
Rhode Island,16,63870,60596,58073,54891,55902,54554,53636,52254,54119,55701,53568
Illinois,17,62992,60960,59588,57444,56210,55137,53234,52972,53966,56235,54124
Delaware,18,62852,61757,61255,59716,57846,54554,58814,55847,56860,57989,54610
North Dakota,19,61843,60656,60557,59029,55759,53585,51704,48670,47827,46032,43531
Wyoming,20,60434,59882,60214,57055,58752,54901,56322,53512,52664,53207,51731
Oregon,21,60212,57532,54148,51075,50251,49161,46816,46560,48457,50169,48730
Nebraska,22,59970,56927,54996,52686,51440,50723,50296,52504,48408,49693,47085
Wisconsin,23,59305,56811,55638,52622,51467,51059,50395,49001,49993,52094,50578
Texas,24,59206,56565,55653,53035,51704,50740,49392,48615,48259,50043,47548
Pennsylvania,25,59195,56907,55702,53234,52007,51230,50228,49288,49520,50713,48576
Iowa,26,58570,56247,54736,53712,52229,50957,49427,47961,48044,48980,47292
Nevada,27,58003,55180,52431,51450,51230,49760,48927,51001,53341,56361,55062
Vermont,28,57513,57677,56990,54166,52578,52997,52776,49406,51618,52104,49907
Arizona,29,56581,53558,51492,50068,48510,47826,46709,46789,48745,50958,49889
South Dakota,30,56894,54467,53017,50979,48947,48362,48321,45904,45043,46032,43424
Kansas,31,56422,54935,53906,52504,50972,50241,48264,48257,47817,50177,47451
Maine,32,56277,53079,51494,49462,46974,46709,46033,45815,45734,46581,45888
Georgia,33,56183,53559,51244,49321,47829,47209,46007,46430,44736,50861,49136
Michigan,34,54909,52492,51084,49847,48273,46859,45981,45413,45255,48591,47950
Indiana,35,54181,52314,50532,49446,47529,46974,46438,44613,45424,47966,47448
Ohio,36,54021,52334,51075,49308,48081,46829,45749,45090,45395,47988,46597
Missouri,37,53578,51746,50238,48363,46931,45321,45247,44301,45229,46867,45114
Montana,38,53386,50027,49509,46328,46972,45076,44222,42666,42322,43654,43531
North Carolina,39,52752,50584,47830,46556,45906,45150,43916,43326,43674,46549,44670
Florida,40,52594,50860,49426,47463,46036,45040,44299,44409,44736,47778,47804
Idaho,41,52225,51807,48275,47861,46783,45489,43341,43490,44926,47576,46253
Tennessee,42,51340,48547,47275,44361,44297,42764,41693,41461,41725,43614,42367
South Carolina,43,50570,49501,47238,45238,44163,43107,43916,42018,42442,44625,43329
Oklahoma,44,50051,49176,48568,47529,45690,44312,43225,42072,41664,42822,41567
Kentucky,45,48375,46659,44765,42958,43399,41724,41141,40062,40072,41538,40267
Alabama,46,48123,46257,44765,42830,42849,41574,41415,40474,40489,42666,40554
New Mexico,47,46744,46748,45382,44803,43872,42558,41963,42090,43028,43508,41452
Louisiana,48,46145,45146,45727,44555,44164,42944,41734,42505,42429,43733,40926
Arkansas,49,45869,45907,42798,44922,39376,39018,41302,38587,36538,39586,38134
Mississippi,50,43529,41754,40593,39680,37963,37095,36919,36851,36646,37790,36338
West Virginia,51,43469,43385,42019,41059,41253,40196,38482,37218,37435,37989,37060

In [35]:
income_xlsx.set_index('State') #setting "State" as index

,Rank,Income2017,Income2016,Income2015,Income2014,Income2013,Income2012,Income2011,Income2010,Income2009,Income2008,Income2007
State,,,,,,,,,,,,
District of Columbia,1,82336,75506,75628,71648,67572,65246,66583,63124,59290,57936,54317
Maryland,2,80776,78945,75847,73971,72483,71836,70004,68854,69272,70545,68080
New Jersey,3,80088,76126,72222,72919,70165,69667,67458,67681,68342,70373,67035
Hawaii,4,77765,74511,73486,69592,68020,66259,61821,63030,64098,67214,63746
Massachusetts,5,77385,75297,70628,69160,66768,65339,62859,62072,64081,65401,62365
Connecticut,6,74168,73433,71346,70048,67098,67276,65753,64032,67034,68595,65967
New Hampshire,7,73381,70936,70303,66532,64230,63280,62647,61042,60567,63731,62369
Alaska,8,73181,76440,73355,71583,72237,67712,67825,64576,66953,68460,64333
California,9,71805,67739,64500,61933,60190,58328,57287,57708,58931,61021,59948
Virginia,10,71535,68114,66262,64902,62666,61741,61882,60674,59330,61233,59562
Washington,11,70979,67106,64129,61366,58405,57573,56835,55631,56548,58078,55212
Colorado,12,69117,65685,63909,61303,58823,56765,55387,54046,55430,56993,55212
Minnesota,13,68388,65599,63488,61481,60702,58906,56954,55459,55616,57288,55802
Utah,14,68358,65977,62912,60922,59770,57049,55869,54744,55117,56633,55109
New York,15,64894,62909,60850,58878,57369,56448,55246,54148,54659,56013,53514
Rhode Island,16,63870,60596,58073,54891,55902,54554,53636,52254,54119,55701,53568
Illinois,17,62992,60960,59588,57444,56210,55137,53234,52972,53966,56235,54124
Delaware,18,62852,61757,61255,59716,57846,54554,58814,55847,56860,57989,54610
North Dakota,19,61843,60656,60557,59029,55759,53585,51704,48670,47827,46032,43531
Wyoming,20,60434,59882,60214,57055,58752,54901,56322,53512,52664,53207,51731
Oregon,21,60212,57532,54148,51075,50251,49161,46816,46560,48457,50169,48730
Nebraska,22,59970,56927,54996,52686,51440,50723,50296,52504,48408,49693,47085
Wisconsin,23,59305,56811,55638,52622,51467,51059,50395,49001,49993,52094,50578
Texas,24,59206,56565,55653,53035,51704,50740,49392,48615,48259,50043,47548
Pennsylvania,25,59195,56907,55702,53234,52007,51230,50228,49288,49520,50713,48576
Iowa,26,58570,56247,54736,53712,52229,50957,49427,47961,48044,48980,47292
Nevada,27,58003,55180,52431,51450,51230,49760,48927,51001,53341,56361,55062
Vermont,28,57513,57677,56990,54166,52578,52997,52776,49406,51618,52104,49907
Arizona,29,56581,53558,51492,50068,48510,47826,46709,46789,48745,50958,49889
South Dakota,30,56894,54467,53017,50979,48947,48362,48321,45904,45043,46032,43424
Kansas,31,56422,54935,53906,52504,50972,50241,48264,48257,47817,50177,47451
Maine,32,56277,53079,51494,49462,46974,46709,46033,45815,45734,46581,45888
Georgia,33,56183,53559,51244,49321,47829,47209,46007,46430,44736,50861,49136
Michigan,34,54909,52492,51084,49847,48273,46859,45981,45413,45255,48591,47950
Indiana,35,54181,52314,50532,49446,47529,46974,46438,44613,45424,47966,47448
Ohio,36,54021,52334,51075,49308,48081,46829,45749,45090,45395,47988,46597
Missouri,37,53578,51746,50238,48363,46931,45321,45247,44301,45229,46867,45114
Montana,38,53386,50027,49509,46328,46972,45076,44222,42666,42322,43654,43531
North Carolina,39,52752,50584,47830,46556,45906,45150,43916,43326,43674,46549,44670
Florida,40,52594,50860,49426,47463,46036,45040,44299,44409,44736,47778,47804
Idaho,41,52225,51807,48275,47861,46783,45489,43341,43490,44926,47576,46253
Tennessee,42,51340,48547,47275,44361,44297,42764,41693,41461,41725,43614,42367
South Carolina,43,50570,49501,47238,45238,44163,43107,43916,42018,42442,44625,43329
Oklahoma,44,50051,49176,48568,47529,45690,44312,43225,42072,41664,42822,41567
Kentucky,45,48375,46659,44765,42958,43399,41724,41141,40062,40072,41538,40267
Alabama,46,48123,46257,44765,42830,42849,41574,41415,40474,40489,42666,40554
New Mexico,47,46744,46748,45382,44803,43872,42558,41963,42090,43028,43508,41452
Louisiana,48,46145,45146,45727,44555,44164,42944,41734,42505,42429,43733,40926
Arkansas,49,45869,45907,42798,44922,39376,39018,41302,38587,36538,39586,38134
Mississippi,50,43529,41754,40593,39680,37963,37095,36919,36851,36646,37790,36338
West Virginia,51,43469,43385,42019,41059,41253,40196,38482,37218,37435,37989,37060

In [36]:
region.set_index('State') #setting "State" as index

,abb,region,division
State,,,
alabama,al,south,east south central
alaska,ak,west,pacific
arizona,az,west,mountain
arkansas,ar,south,west south central
california,ca,west,pacific
colorado,co,west,mountain
connecticut,ct,northeast,new england
delaware,de,south,south atlantic
florida,fl,south,south atlantic
georgia,ga,south,south atlantic
hawaii,hi,west,pacific
idaho,id,west,mountain
illinois,il,north central,east north central
indiana,in,north central,east north central
iowa,ia,north central,west north central
kansas,ks,north central,west north central
kentucky,ky,south,east south central
louisiana,la,south,west south central
maine,me,northeast,new england
maryland,md,south,south atlantic
massachusetts,ma,northeast,new england
michigan,mi,north central,east north central
minnesota,mn,north central,west north central
mississippi,ms,south,east south central
missouri,mo,north central,west north central
montana,mt,west,mountain
nebraska,ne,north central,west north central
nevada,nv,west,mountain
new hampshire,nh,northeast,new england
new jersey,nj,northeast,middle atlantic
new mexico,nm,west,mountain
new york,ny,northeast,middle atlantic
north carolina,nc,south,south atlantic
north dakota,nd,north central,west north central
ohio,oh,north central,east north central
oklahoma,ok,south,west south central
oregon,or,west,pacific
pennsylvania,pa,northeast,middle atlantic
rhode island,ri,northeast,new england
south carolina,sc,south,south atlantic
south dakota,sd,north central,west north central
tennessee,tn,south,east south central
texas,tx,south,west south central
utah,ut,west,mountain
vermont,vt,northeast,new england
virginia,va,south,south atlantic
washington,wa,west,pacific
west virginia,wv,south,south atlantic
wisconsin,wi,north central,east north central
wyoming,wy,west,mountain

In [37]:
#Data report
#The data files should contain at least the fifty states
#there are  five inhabited territories (Puerto Rico, American Samoa, Guam, Northern Mariana Islands, and US Virgin Islands)
#I did not check if all the states in the set are correct. I have only randomly checked the names.
#area        = 50 data points
#crime       = 51 data points contains  District of Columbia
#education   = 51 data points contains  District of Columbia 
#income_xls  = 51 data points contains  District of Columbia 
#income_xlsx = 51 data points contains  District of Columbia 
#region      = 50 data points